<div>
  <div>
    <p (click)="page = 'inter'">INTER</p>
    <p (click)="page = 'intra'">INTRA</p>
    <p (click)="page = 'sur-mesure'">SUR MESURE</p>
  </div>
  <div *ngIf="page == 'inter'">
    <div>Session partagée avec d'autres organisations</div>
    <div>
      <h1>Prochaine Sessions</h1>
      <div class="session">
        <div><span class="date">Du 23 au 24/06/2022 </span>
           <span calss="type">En distanciel</span> </div>
        <p class="prix">1 999,99 € HT</p>
      </div>      
      <div class="session">
        <div><span class="date">Du 23 au 24/06/2022 </span>
           <span calss="type">En distanciel</span> </div>
        <p class="prix">1 999,99 € HT</p>
      </div>      
          
      <div class="duree">
        <span >Durée </span>
        <p class="prix">30 h / 6 jours</p>
      </div>      
    </div>
    <div class="buttons">
        <button class="blue-fill">Demandez un devis</button>
        <button id="send-blue-btn" >Contactez-nous</button>
    </div>
    <a href="">Telecharger le programme</a>
  </div>
  <div *ngIf="page == 'intera'"></div>
  <div *ngIf="page == 'sur-mesure'"></div>
</div>
