input[type="file"] {
  display: none;
}
.custom-file-upload {
  border: none;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  margin-top: -11px;
  border-radius: 7px;
  color: #fff;
  background: linear-gradient(#1b89ca, #2e3792);
}

.rejoindre__container {
  /* margin-bottom: 60px; */
  z-index: 0;
  /* margin-top: 87px; */
  font-family: "Montserrat", sans-serif;
}

.first-section {
  background-attachment: fixed;
  background-image: url("../../../assets/Waimakariri 01.svg");
  background-position: -111px -233px;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 75vh;
  
  /* margin-bottom: 100px; */
  padding: 85px 140px 100px 140px;
}

.first-section div {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  animation: go-up 1s cubic-bezier(0.05, 0.36, 0.7, 1.21);
}
.first-section > div > h1 {
  color: var(--primary-blue);
  animation: go-up 1s cubic-bezier(0.05, 0.36, 0.7, 1.21);
}

.first-section > img {
  margin-top: 70px;
  width: 40%;
  animation: from-left 2s cubic-bezier(0.05, 0.36, 0.7, 1.21);
}
.first-section > div > p {
  font-size: 17;
  font-weight: 300;
}
.first-section > div > svg {
  cursor: pointer;
}
.first-section > div > svg:hover > path {
  fill: var(--primary-purple);
  transform: fill 0.3s ease;
}

h1 {
  text-transform: uppercase;
  font-size: 35px;
  margin: 0;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}

h1 > span {
  color: var(--primary-purple);
}

.span-1 {
  color: var(--primary-blue);
}
.span-2 {
  color: var(--primary-purple);
}

.second-section {
  background: linear-gradient(#1b89ca, #2e3792);
  display: flex;
  flex-direction: column;
  padding: 0 140px;
  align-items: center;
}

.second-section > div {
  display: flex;
}

.second-section > div:nth-child(1) {
  margin-top: 76px;
  align-items: center;
}
.second-section > div > img {
  margin-right: 40px;
}
.second-section > div:nth-child(2) {
  display: flex;
  flex-direction: row-reverse;
  text-align: end;
  margin-top: 50px;
  align-items: center;
}
.second-section > div:nth-child(3) {
  margin-top: 50px;
  align-items: center;
}
.second-section > div:nth-child(2) > img {
  margin-right: 0;
  margin-left: 40px;
  padding: 24px 43px;
}
.second-section > div:nth-child(3) > img {
  width: 246px;
  padding: 11px 58px;
}

.second-section p {
  text-align: start;
  line-height: 25px;
  font-weight: 200;
  font-size: 18px;
}
.second-section > div > img {
  background-color: #fff;
  width: 289px;
  border-radius: 70px;
  padding: 46px;
}

.second-section > div > div {
  display: flex;
  flex-direction: column;
  color: #fff;
}

.second-section > button,
.fourth-section > button {
  border: 1px solid #fff;
  border-radius: 25px;
  padding: 10px 20px;
  width: 199px;
  color: #fff;
  font-size: 17px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  background-color: transparent;
  background-repeat: no-repeat;
  cursor: pointer;
  margin-bottom: 25px;
  transition: all 0.3s ease;
  animation: go-up 2s cubic-bezier(0.05, 0.36, 0.7, 1.21);
}

.fourth-section > button {
  margin-top: 30px;
  width: 350px;
}

.second-section > button:hover,
.fourth-section > button:hover {
  transform: translateY(-4px);
}

.third-section {
  padding: 0 140px;
  margin-top: 60px;
  font-weight: 300 !important;
}

.third-section p {
  text-align: start;
  line-height: 23px;
  font-weight: 400;
  font-size: 16px;
  margin: 0px;
}

.third-section > h1 {
  text-align: center;
  color: var(--primary-purple);
  margin-bottom: 29px;
}

.third-section > div > div {
  display: flex;
  align-items: center;
  margin: 10px 0px 7px 0px;
}
.third-section > div > div > div > h2 {
  margin-bottom: 11px;
  margin-top: -23px;
  color: var(--primary-blue);
}

.even > div > h2 {
  color: var(--primary-purple) !important;
}

.third-section > div > div:nth-child(1) > img {
  margin-right: 88px;
}
.third-section > div > div > img {
  margin-right: 61px;
}

hr {
  height: 1px;
  width: 100%;
  background-color: #707070;
  border: none;
}

.fourth-section {
  background: linear-gradient(#b1317f, #9d2e78, #752969, #5d2560, #54245d);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fourth-section > h1 {
  padding-top: 41px;
  text-align: center;
  color: #fff;
  margin-bottom: 25px;
}

.fourth-section > div {
  display: flex;
  width: 70%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid #fff;
  border-radius: 36px;
  padding: 36px 106px;
}

.fourth-section > div > div {
  display: grid;
  grid-template-columns: 44% 24% 22%;
  justify-content: space-between;
  border-bottom: 1px solid #fff;
  align-content: center;
  width: 100%;
  margin: 0 auto;
  align-items: center;
}
.fourth-section > div > div > button {
  background: transparent;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 11px;
  padding: 6px 24px;
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  cursor: pointer;
}
.fourth-section > div > div > button:hover {
  background: linear-gradient(#1b89ca, #2e3792);
  color: #fff;
  border: 1px solid var(--primary-blue);
}
.fourth-section > div > div > h2 {
  color: #fff;
}
.fourth-section > div > div > p {
  color: var(--primary-purple);
  background-color: #fff;
  border-radius: 11px;
  padding: 6px 24px;
  text-align: center;
  font-weight: 400;
}

.fifth-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-attachment: fixed;
  background-image: url("../../../assets/Waimakariri 01.svg");
  background-position: -111px -233px;
  background-repeat: no-repeat;
  padding-bottom: 60px;
}

.fifth-section > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fifth-section > h1 {
  color: var(--primary-blue);
  margin-top: 30px;
  margin-bottom: 30px;
}

.fifth-section > p {
  text-align: center;
  line-height: 22px;
  font-weight: 300;
  font-size: 18px;
  margin: 0px;
}

.contact-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 48px;
}

.contact-form > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input:focus {
  outline: none !important;
  border: 1px solid var(--primary-purple);
}
input {
  padding: 6px 10px 6px 20px;
  width: 420px;
  height: 52px;
  font-size: 16px;
  border: 1px solid #245fab;
  border-radius: 15px;
  margin: 0px 30px 30px 0px;
  background: transparent;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

textarea {
  width: 908px;
  height: 342px;
  border-radius: 15px;
  margin-left: 0px;
  background: transparent;
  padding: 14px 10px 6px 20px;
  border: 1px solid #245fab;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin-right: 30px;
}

textarea:focus {
  outline: none !important;
  border: 1px solid var(--primary-purple);
}

.votre-cv {
  padding: 10px;
  color: var(--primary-blue);
  font-weight: 700;
  font-size: 22px;
}

.terms, .fifth-section > p {
  text-align: center;
  line-height: 22px;
  font-weight: 300;
  font-size: 16px;
  margin: 33px 37px;
}

#send-btn {
  border: 1px solid var(--primary-purple);
  border-radius: 25px;
  padding: 10px 20px;
  color: var(--primary-purple);
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  background-color: transparent;
  cursor: pointer;
  margin-bottom: 25px;
  transition: all 0.3s ease;
  animation: go-up 2s cubic-bezier(0.05, 0.36, 0.7, 1.21);
}

#send-btn:hover {
  color: #fff;
  background-color: var(--primary-purple);
  box-shadow: 0px 15px 20px #d67eb1;
  transform: translateY(-4px);
}

.radio-divs {
  display: flex;
  align-items: center;
  color: var(--primary-blue);
  display: flex;
  align-items: center;
  height: 30px;
  margin-bottom: 9px;
}

#oui,
#non {
  width: 17px;
  margin: 0 5px 0 0;
  visibility: hidden;
}
input[type="radio"]:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: 16px;
  left: -1px;
  position: relative;
  border: 1px solid var(--primary-blue);
  content: "";
  display: inline-block;
  visibility: visible;
}

input[type="radio"]:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: 16px;
  left: -1px;
  position: relative;
  border: 1px solid var(--primary-blue);
  content: "";
  display: inline-block;
  background-color: var(--primary-purple);
  border: 1px solid var(--primary-purple);
  visibility: visible;
}

@media only screen and (max-width: 1180px) {
  .first-section{
    padding-top: 87px;
  }
  .first-section > img {
    width: 37%;
  }
  
  .second-section {
    padding: 0 40px;
  }
  .third-section > div > div {
    margin: 25px 0px 7px 0px;
  }
  textarea {
    width: 699px;
    height: 212px;
  }
  input {
    width: 315px;
    height: 49px;
    font-size: 16px;
  }
}

@media only screen and (max-width: 980px) {
  .first-section {
    flex-direction: column;
    align-items: center;
    padding: 0 40px;
    padding: 90px 40px 0 40px;
  }
  .third-section {
    padding: 0 40px;
  }

  .first-section > div {
    align-items: center;
    text-align: center;
  }
  .third-section > div > div {
    margin: 31px 0px 7px 0px;
  }
  .second-section > div,
  .second-section > div:nth-child(2) {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
  .second-section > div > img {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .second-section > div > div {
    align-items: center;
  }
  .second-section > button {
    margin-top: 25px;
  }
  textarea {
    width: 524px;
    height: 212px;
  }
  input {
    width: 236px;
    height: 36px;
    font-size: 16px;
  }

  .second-section > div:nth-child(3) > img {
    width: 30%;
  }
  .second-section > div > img {
    width: 30%;
  }
  .second-section > div > div > h1 {
    text-align: center;
  }
  .fourth-section > div {
    width: 88%;
    padding: 36px 24px;
  }
}

@media only screen and (max-width: 877px) {
  h2 {
    font-size: 22px !important;
  }

  .fourth-section > div > div {
    grid-template-columns: 100%;
    grid-template-rows: 33% 33% 33%;
    margin: 6px 0px 0px 0px;
  }
 
  .fourth-section > div > div > h2 {
    text-align: center;
  }
}
@media only screen and (max-width: 619px) {
  .second-section > div:nth-child(3) > img {
    width: 70%;
  }
  .second-section > div > img {
    width: 70%;
  }
  .first-section > img {
    margin-top: 25px;
    width: 61%;
  }
  .fourth-section > div {
    width: 80%;
  }
  .fourth-section > button {
    width: 75%;
  }
  h1 {
    font-size: 31px !important;
    text-align: center;
  }
  textarea {
    width: 78%;
    height: 100px;
    margin-right: 0px;
  }
  .contact-form {
    display: flex;
    flex-direction: column;
  }
  .second-section > div > p {
    margin: 33px 23px 36px 23px;
  }
  input {
    margin-right: 0;
  }
  h2 {
    font-size: 22px;
  }

  .fourth-section > div > div {
    grid-template-columns: 100%;
    grid-template-rows: 33% 33% 33%;
    margin: 6px 0px 0px 0px;
  }
 
  .fourth-section > div > div > h2 {
    text-align: center;
  }
  .third-section > div > div {
    margin: 30px 0px 7px 0px;
  }
  .third-section > div > div:nth-child(1) > img {
    margin-right: 0;
  }
  .third-section h2 {
    text-align: center;
  }
  .third-section > div > div > img {
    margin-right: 0 !important;
  }
  .third-section > div > div {
    flex-direction: column;
  }
  .third-section p {
    text-align: center;
  }
}
