<div>
    <button (click)="ref.close()">X</button>
    <p>{{this.formation}}</p>
    <input type="text" placeholder="Votre Email *"[(ngModel)]="email" name="Email" id="">
    <input type="text" placeholder="Téléphone *" [(ngModel)]="phone" name="Téléphone" id="">
    <textarea name="Message" id="" cols="30" rows="4" [(ngModel)]="message" *ngIf="contact"></textarea>
    <ngx-recaptcha2 #captchaElem="ngModel" ngModel name="captcha" [siteKey]="siteKey" (success)="resolved($event)"[hl]="'fr'" [ngModelOptions]="{standalone: true}"> </ngx-recaptcha2>
    <button id="blue-fill" *ngIf="devis" (click)="Submit()">Demandez un devis</button>
    <button id="send-btn-blue" *ngIf="contact" (click)="Submit()">Contactez-nous</button>
</div>
