<div>
    
    <h4> 1- Propriété intellectuelle et contrefaçons.</h4>
    <p>
    Presco Consulting est propriétaire des droits de propriété intellectuelle et détient les droits d’usage sur tous les
    éléments accessibles sur le site internet, notamment les textes, images, graphismes, logos, vidéos, architecture,
    icônes et sons. Toute reproduction, représentation, modification, publication, adaptation de tout ou partie des
    éléments du site, quel que soit le moyen ou le procédé utilisé, est interdite, sauf autorisation écrite préalable de
    Presco Consulting. Toute exploitation non autorisée du site ou de l’un quelconque des éléments qu’il contient sera
    considérée comme constitutive d’une contrefaçon et poursuivie conformément aux dispositions des articles L.335-2 et
    suivants du Code de Propriété Intellectuelle.
</p>
    <br><br>
    <h4>2- Limitations de responsabilité.</h4>
    <p>
    Presco Consulting ne pourra être tenu pour responsable des dommages directs et indirects causés au matériel de
    l’utilisateur, lors de l’accès au site https://prescoconsulting.com/. Presco Consulting décline toute responsabilité
    quant à l’utilisation qui pourrait être faite des informations et contenus présents sur
    https://prescoconsulting.com/. Presco Consulting s’engage à sécuriser au mieux le site
    https://prescoconsulting.com/, cependant sa responsabilité ne pourra être mise en cause si des données indésirables
    sont importées et installées sur son site à son insu. Des espaces interactifs (espace contact ou commentaires) sont
    à la disposition des utilisateurs. Presco Consulting se réserve le droit de supprimer, sans mise en demeure
    préalable, tout contenu déposé dans cet espace qui contreviendrait à la législation applicable en France, en
    particulier aux dispositions relatives à la protection des données. Le cas échéant, Presco Consulting se réserve
    également la possibilité de mettre en cause la responsabilité civile et/ou pénale de l’utilisateur, notamment en cas
    de message à caractère raciste, injurieux, diffamant, ou pornographique, quel que soit le support utilisé (texte,
    photographie ...).
    </p>
    <br><br>
    <h4>3 - CNIL et gestion des données personnelles.</h4>
    <p>
    Conformément aux dispositions de la loi 78-17 du 6 janvier 1978 modifiée, l’utilisateur du site
    https://prescoconsulting.com/ dispose d’un droit d’accès, de modification et de suppression des informations
    collectées. Pour exercer ce droit, envoyez un message à notre Délégué à la Protection des Données : Moussa Ben
    Youcef - consultingpresco@gmail.com. Pour plus d'informations sur la façon dont nous traitons vos données (type de
    données, finalité, destinataire...), lisez notre https:/ prescoconsulting.com/politique-confidentialite/.
</p>
    <h4>4 - Liens hypertextes et cookies</h4>
    <p>
    Le site https://prescoconsulting.com/ contient des liens hypertextes vers d’autres sites et dégage toute
    responsabilité à propos de ces liens externes ou des liens créés par d’autres sites vers
    https://prescoconsulting.com/.
    La navigation sur le site https://prescoconsulting.com/ est susceptible de provoquer l’installation de cookie(s) sur
    l’ordinateur de l’utilisateur.
    Un "cookie" est un fichier de petite taille qui enregistre des informations relatives à la navigation d’un
    utilisateur sur un site. Les données ainsi obtenues permettent d'obtenir des mesures de fréquentation, par exemple.
    Vous avez la possibilité d’accepter ou de refuser les cookies en modifiant les paramètres de votre navigateur. Aucun
    cookie ne sera déposé sans votre consentement.
    Les cookies sont enregistrés pour une durée maximale de 2 mois.
    Pour plus d'informations sur la façon dont nous faisons usage des cookies, lisez notre
    https://prescoconsulting.com/politique-confidentialite/.
</p>
    <h4>5 - Droit applicable et attribution de juridiction.</h4>
    <p>
    Tout litige en relation avec l’utilisation du site https://prescoconsulting.com/ est soumis au droit français. En
    dehors des cas où la loi ne le permet pas, il est fait attribution exclusive de juridiction aux tribunaux compétents
    de Paris.
    </p>
</div>