<div class="header__container">
    <img id="header-icon" src="assets/Logo (Color) - Landscape Transparent.png" alt="">
    <div>
        <a routerLink="accueil">ACCUEIL</a>
        <a href="#">QUI SOMMES-NOUS ?</a>
        <a routerLink="nos-services">NOS SERVICES</a>
        <a routerLink="nous-rejoindre">NOUS REJOINDRE</a>
        <a routerLink="faq">FAQ</a>
        <a routerLink="contactez-nous" id="header-contact-btn">NOUS CONTACTER</a>
        <a href="#"><img src="assets/Search Icon.svg" alt=""></a>
    </div>
</div>
