<div class="header__container">
    <img id="header-icon" routerLink="accueil" src="assets/Logo (Color) - Landscape Transparent-min.png" alt="">
    <div>
        <img src="assets/icon-menu.svg" alt="" class="list-icon" id="list-icon">
        <a routerLink="accueil" routerLinkActive="menu-active">ACCUEIL</a>
        <a routerLinkActive="menu-active" routerLink="qui-sommes-nous">QUI SOMMES-NOUS ?</a>
        <a routerLinkActive="menu-active" routerLink="nos-services">NOS SERVICES</a>
        <a routerLinkActive="menu-active" routerLink="nous-rejoindre">NOUS REJOINDRE</a>
        <a routerLinkActive="menu-active" routerLink="faq">FAQ</a>
        <a routerLinkActive="menu-active-btn" routerLink="contactez-nous" class="header-contact-btn">NOUS CONTACTER</a>
        <!-- <a routerLinkActive="menu-active" href="#"><img src="assets/Search Icon.svg" alt=""></a> -->
    </div>
</div>

<div class="menu">
    <a routerLink="accueil" routerLinkActive="menu-active">ACCUEIL</a>
    <a routerLinkActive="menu-active" routerLink="qui-sommes-nous">QUI SOMMES-NOUS ?</a>
    <a routerLinkActive="menu-active" routerLink="nos-services">NOS SERVICES</a>
    <a routerLinkActive="menu-active" routerLink="nous-rejoindre">NOUS REJOINDRE</a>
    <a routerLinkActive="menu-active" routerLink="faq">FAQ</a>
    <a routerLinkActive="menu-active-btn" routerLink="contactez-nous" class="header-contact-btn">NOUS CONTACTER</a>
</div>
