<div class="contact__container">
    <section class="first-section">
        <div>
            <h1><span>Besoin de</span> nous contacter ?</h1>
            <p>Merci à vous de bien vouloir remplir le formulaire ci-dessous!</p>
          <svg  (click)="scrollToElement(second)" xmlns="http://www.w3.org/2000/svg" width="23.174" height="14.31" viewBox="0 0 23.174 14.31">
            <path id="ic_expand_more_24px" d="M26.451,8.59l-8.864,8.845L8.723,8.59,6,11.313,17.587,22.9,29.174,11.313Z" transform="translate(-6 -8.59)" fill="#245fab"/>
          </svg>
        </div>
        <img src="assets/Illustration NOUS CONTACTER.svg" alt="">
    </section>
    <section class="second-section"  #second>
        <hr>
        <form [formGroup]="form">
            <h1 >écrivez-nous</h1>
            <div class="contact-form">
                    <div>
                        <input type="text" formControlName="Nom" placeholder="Nom*" name="nom">
                        <input type="text" formControlName="Entreprise" name="entreprise" placeholder="Entreprise">
                        <input type="text" formControlName="Email"  name="email" placeholder="E-mail*">
                    </div>
                    <div>
                        <input type="text" formControlName="Prénom" name="prenom" placeholder="Prénom *">
                        <input type="text" formControlName="Téléphone"  name ="telephone" placeholder="Téléphone  *">
                        <input type="text" formControlName="Sujet" name="sujet" placeholder="Sujet  *">
                    </div>
               
                </div>
                <textarea name="Message" id="" cols="30" formControlName="Message" placeholder="Décrivez-nous votre projet ou votre demande..." rows="10"></textarea>
            <p>Presco Consulting traite vos données personnelles afin de répondre à votre demande de  contact. Vous disposez de droits sur vos données.
                Pour plus d’informations, nous vous invitons à consulter notre <span routerLink="../mentions-légales" style="cursor: pointer;">Politique de protection des données.</span></p>
                <!-- <form class="contact-form" (submit)="sendEmail($event)"> -->
                    <!-- <label>Name</label>
                    <input type="text" name="user_name"> -->
                    <!-- <label>Email</label>
                    <input type="email" name="user_email"> -->
                    <!-- <label>Message</label> -->
                    <!-- <textarea name="message" style="display: none"></textarea> -->
                    <div id="captcha">
                        <ngx-recaptcha2 #captchaElem="ngModel" ngModel name="captcha" [siteKey]="siteKey" (success)="resolved($event)"[hl]="'fr'" [ngModelOptions]="{standalone: true}"> </ngx-recaptcha2>
                      </div>
                    <button  [disabled]="form.invalid" id="send-btn" (click)="sendEmail()">ENVOYER</button>
                    <!-- <input type="submit" value="Send"> -->
                <!-- </form> -->
                <!-- <input type="submit" value="Send"> -->
                    </form> 
        <hr>
     </section> 
    <section class="third-section">
        <div class="contact-box">
            <h1>Restez en contact.</h1>
            <div>
                <!-- <div class="contact-tools">
                    <div class="contact-email-number">
                        <img class="contact-icon" src="assets/ic_mail_outline_24px.svg" alt="">
                        <a href="mailto:contact@prescoconsulting.com">contact@prescoconsulting.com</a>
                    </div>
                    <div class="contact-email-number">
                        <img class="contact-icon" src="assets/ic_call_24px.svg" alt="">
                        <a href="tel:+33 6 20 47 82 75">+33 6 20 47 82 75</a>
                    </div>
                </div> -->
                <div class="social-media-box">
                <p>Suivez-nous sur les réseaux sociaux</p>
                <div class="social-media">
                    <a  target="_blank" href="https://www.linkedin.com/company/prescoconsulting-fr/about/"><img src="assets/Linkedin.svg" alt=""></a>
                    <a target="_blank" href=""><img src="assets/Path 353.svg" alt=""></a>
                    <a target="_blank" href=""><img src="assets/Twitter.svg" alt=""></a>
                    <a target="_blank" href=""><img src="assets/Path 369.svg" alt=""></a>
                </div>
            </div>
            </div>
        </div>
    </section>
   
</div>
