.header__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 82vw;
  padding: 0px 12% 0 9%;
  backdrop-filter: saturate(180%) blur(20px);
  background-color: rgba(255, 255, 255, 0.72);
  /* margin-top: -87px; */
  z-index: 100;
}

.header__container::after {
  margin-left: -490px;
  content: "";
  display: block;
  position: absolute;
  top: 100%;
  width: 365%;
  height: 1px;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.16);
}

a {
  color: var(--black-text);
}

.header__container > div {
  display: flex;
}

.header__container > div > a {
  padding: 14px 0px 0px 0px;
  margin: 8px 20px;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  border: none;
}
.header__container > div > a::after{
  display: block;
  content: "";
  padding-top: 10px;
  border-bottom: 2px solid var(--primary-blue);
  transform: scaleX(0);
  color: var(--black-text);
  transition: transform 250ms ease-in-out;
}
.header__container > div > a:hover {
  color: var(--primary-blue);
}

.header-contact-btn {
  background: linear-gradient(#1b89ca, #2e3792);
  border-radius: 32px;
  height: 16px;
  padding: 11px 31px !important;
  color: #fff;
  /* background-position: 0 38px; */
  /* -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear; */
}
.header-contact-btn::after .header-contact-btn:hover::after {
  display: block;
  content: "";
  transform: scaleX(0);
  padding-top: 0px;
}

.header-contact-btn:hover {
  border: none !important;
  background: linear-gradient(#b1317f, #9d2e78, #752969, #5d2560, #54245d);
  color: white !important;
  background-position: 0 0;
}

#header-icon {
  width: 123px;
  cursor: pointer;
}

.header__container > div > a:hover:after {
  transform: scaleX(1);
}

.menu-active {
  color: var(--primary-blue);
}
.menu-active-btn {
  background: linear-gradient(#b1317f, #9d2e78, #752969, #5d2560, #54245d);
  color: white;
}

.list-icon {
  display: none;
}

@media only screen and (max-width: 1294px) {
  .header__container > div > a {
    margin: 8px 6px;
  }
}
@media only screen and (max-width: 1082px) {
  .header__container {
    padding: 0px 12% 0px 9%;
  }
  .header__container > div > a {
    display: none;
  }
  .list-icon {
    display: block;
    margin: 13px 0px;
  }

  #header-icon {
    margin: 14px 0;
  }
}

.menu {
  position: fixed;
  right: 10px;
  display: flex;
  flex-direction: column;
  z-index: 10;
  height: 0%;
  align-items: center;
  visibility: hidden;
  /* transition: height 0.4s ease-in; */
  background: white;
  top: 64px;
  border-radius: 0 0 21px 21px;
  padding: 0px 28px;
  /* border: 1px solid gray; */
  justify-content: space-around
}

.menu > a {
  margin: 18px 0px;
  visibility: hidden;
  /* opacity: 0; */
}

.show {
  height: 58%;
  visibility: visible;
  box-shadow: 0px 0px 15px #d67eb1;
}
.show > a {
  visibility: visible;
  /* opacity: 1; */
  /* transition: opacity 0.3s ease .5s; */
}


