<div class="nos-services__container">
  <section class="first-section">
    <img
      src="assets/Transformation digitale.svg"
      alt=""
      class="first-section_illustraion"
    />
    <div class="description">
      <h1><span>Transformation </span>digitale</h1>
      <p>
        Les nouvelles opportunités qu’offre le digital, se traduisent
        différemment d’un secteur à un autre. <br /><br />
        Que ce soit par le biais de la transformation de votre entreprise ou par
        le biais d’acquisition de nouveaux clients, votre croissance ne peut se
        faire sans dessiner une réelle stratégie digitale.
        <br /><br />
        Presco Consulting tire profit de son expertise en digital pour
        accompagner les entreprises en proposant une gamme complète de services
        dans leur transformation digitale ou dans leur stratégie direct to
        customer.<br />
      </p>
     
      <svg  (click)="scrollToElement(second)" 
        xmlns="http://www.w3.org/2000/svg"
        width="23.174"
        height="14.31"
        viewBox="0 0 23.174 14.31"
      >
        <path
          id="ic_expand_more_24px"
          d="M26.451,8.59l-8.864,8.845L8.723,8.59,6,11.313,17.587,22.9,29.174,11.313Z"
          transform="translate(-6 -8.59)"
          fill="#245fab"
        />
      </svg>
    </div>
  </section>

  <section class="second-section"  #second>
    <h3>Les points clés DE la <span>digitalisation</span></h3>
    <p>
      Élaboration de sites et d’applications mobiles, digitalisation des
      process, optimisation des parcours clients, stratégie SEO et d’acquisition
      de nouveaux <br />clients, l’offre digitale de Presco Consulting couvre un
      large ensemble de services digitaux.
    </p>
    <div class="div-1">
      <div>
        <div class="item">
          <img src="assets/noun-strategy-4966436.svg" alt="" />
          <div>
            <h4>ÉLABORATION DE STRATÉGIE</h4>
            <p>
              Le point de départ de la croissance de votre entreprise en
              adéquation avec vos objectifs et votre stratégie marketing.
            </p>
          </div>
        </div>
        <div class="item">
          <img src="assets/noun-focus-2221565.svg" alt="" />
          <div>
            <h4>CADRAGE DE PROJETS</h4>
            <p>
              Planning, budget, les profils nécessaires, avant de se lancer,
              nous proposons un dispositif complet avec les bons profils.
            </p>
          </div>
        </div>
        <div class="item">
          <img src="assets/noun-coding-1269375.svg" alt="" />
          <div>
            <h4>RÉALISATION</h4>
            <p>
              Création de vos sites internet et appli mobile à destination de
              vos clients, prospects et collaborateurs en adoptant une approche
              client centric.
            </p>
          </div>
        </div>
      </div>
      <img src="assets/jason-goodman-bzqU01v-G54-unsplash.png" alt="" />
    </div>
    <div class="div-2">
      <img src="assets/jason-goodman-vbxyFxlgpjM-unsplash.png" alt="" />
      <div>
        <div class="item">
          <img src="assets/noun-change-1746091.svg" alt="" />
          <div>
            <h4>CONDUITE DU CHANGEMENT</h4>
            <p>
              Proposer une stratégie d’accompagnement de vos collaborateurs et
              de vos clients afin de minimiser les risques liés au changement.
            </p>
          </div>
        </div>
        <div class="item">
          <img src="assets/noun-optimize-3185269.svg" alt="" />
          <div>
            <h4>OPTIMISATION</h4>
            <p>
              Une fois votre dispositif mis en ligne, il est important
              d’analyser les KPI et les parcours clients afin de les améliorer
              constamment et être en accord avec vos objectifs.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="third-section">
    <div class="div-3">
      <img src="assets/noun-question-670402.svg" alt="" />
      <div>
        <h4>Qu'est-ce que la digitalisation ou transformation numérique ?</h4>
        <p>
          La transformation digitale d'une entreprise, appelée aussi
          digitalisation et transformation numérique , est le processus
          d'intégration d'outils informatiques au sein de toutes les fonctions
          de l'organisation. Cette intégration permet, entre autres,
          d'automatiser les tâches sans valeur ajoutée ou de simplifier les
          processus. La digitalisation permet d'optimiser l'utilisation du
          capital humain de manière plus efficace.
        </p>
      </div>
    </div>
    <div class="div-4">
      <img src="assets/noun-contact-1959427.svg" alt="" />
      <div>
        <h4>Quand faire appel à nos services en transformation numérique ?</h4>
        <p>
          Lorsque les décideurs sont confrontés à des problématiques
          stratégiques et techniques en dehors de leurs champs de connaissances,
          par exemple :<br />
          <br />
          - Les solutions technologiques en place ne soutiennent pas
          efficacement les objectifs stratégiques et les opérations de
          l'entreprise ;
          <br /><br />
          - L'équipe de gestion d’une entreprise n’a pas les méthodes pour
          effectuer le choix d’un nouvel outil et pour sécuriser ses
          investissements. Elle est à la recherche d’un conseiller d’affaires
          spécialisé en transformation digitale ;
          <br /><br />
          - Les objectifs technologiques de l’organisation ne sont pas alignés
          avec le plan tactique de mise en oeuvre ;
          <br /><br />
          - Un projet en cours n'aboutit pas, dépasse les coûts budgétés ou
          n’atteint pas les résultats attendus.<br />
        </p>
      </div>
    </div>
  </section>

  <section class="forth-section">
    <h3><span>Notre méthode de travail</span> en Digitalisation en 3 étapes</h3>
    <div class="forth-section-divs">
      <div>
        <img src="assets/noun-analyzes-3075752.svg" alt="">
        <h4>Analyser les <br> besoins</h4>
        <p> L'analyse des besoins technologique est une étape cruciale, car elle permet  de circonscrire l'ampleur du projet. <br>Durant celle-ci, nous évaluons différents aspects de votre entreprise afin de définir les grandes lignes de votre plan stratégique TI : <br><br>

          - Diagnostic détaillé des solutions et <br>des procédures en place dans <br>l'entreprise par une approche 360° <br>couvrant tant les aspects fonctionnels, organisationnels, <br>opérationnels, techniques et humains .<br><br>
          
          - Réaliser une analyse fonctionnelle préprojet .<br><br>
          
          - Dégager les améliorations possibles <br>qui augmenteront la compétitivité de <br>l’entreprise en optimisant les processus <br>d'affaires .<br><br>
          
          - élaborer un plan stratégique TI <br>efficace et réaliste. </p>
      </div>
      <div>
        <img src="assets/Path 2414.svg" alt="">
        <h4>
          Sélectionner <br>l’outil
        </h4>
        <p>
          Notre leitmotiv dans chaque dossier : 
<br><br>
- Trouver l'outil offrant le meilleur rapport fonctionnalités-prix ;
<br><br>
- Trouver le bon expert en implantation dont les méthodes de travail seront complémentaires à celles de notre client .
<br><br>
- S’assurer de l’acceptation du projet par l’ensemble des employés, en mettant en place un comité de pilotage représentatif et décisionnaire.
<br><br>
Notre objectif est de s’assurer que le choix final sera le meilleur afin de maximiser les chances de succès du projet, mais surtout de maximiser la création de valeur pour nos clients. 
<br><br>
        </p>
      </div>
      <div>
        <img src="assets/noun-team-work-4795426.svg" alt="">
        <h4>Accompagner la <br>mise en oeuvre</h4>
        <p>
          Nous vous accompagnons dans la mise en œuvre des solutions préconisées : 
          <br><br>
- En préparant vos équipes au changement organisationnel ;
<br><br>
- En aidant vos équipes à adopter les nouveaux outils et nouvelles procédures ;
<br><br>
- En accompagnant les entreprises dans la gestion du projet à différents plans ;
<br><br>
- à travers le coaching.
<br><br>
À la fin du projet, un post mortem est réalisé. C’est le moment ou nous prenons le temps de comprendre les étapes qui se sont moins bien déroulées et de prendre acte des erreurs à ne plus reproduire. Il permet de construire une mémoire stratégique pour l'entreprise dans le domaine de la transformation numérique.
        </p>
      </div>
    </div>
  </section>

  <section class="last-section" #second>
    <h2>Un accompagnement en digitalisation ou un projet ?</h2>
    <p>
      Vous avez un projet et vous ne savez pas comment le mettre en oeuvre ?
      Vous avez besoin de l'une de nos expertises pour <br />renforcer vos
      équipes ? Ou une simple question ? Contactez-nous !
    </p>
    <a id="send-btn-blue"  routerLink="../../contactez-nous">
      Contactez-nous</a
    >
  </section>
</div>
