<div class="home__container">
    <section class="hero__section">
        <div class="hero__section-description">
            <h1>Expérience et innovation <br />en une seule touche.</h1>
            <h1>Votre développement, <br />notre priorité.</h1>
            <p>
                Nous prenons le temps de vous écouter, puis d'agir. <br />
                Nous créerons un plan personnalisé correspondant à vos besoins et sommes
                certains de vous offrir le succès que vous désirez.
            </p>
            <button>En savoir plus</button>
        </div>
        <div class="hero__section-illustration">
            <img src="assets/Innovation & Development.svg" alt="" />
        </div>
    </section>
    <section class="training__section">
        <h2>Besoin d'une formation ?</h2>
        <div>
            <input type="text" name="" id="" placeholder="Je recherche une formation" /><button>Rechercher</button>
        </div>
    </section>
    <section class="trainings-projects">
        <h1>Nos services à la une</h1>
        <div class="trainings">
            <h2>Formations</h2>
            <div class="trainings-container">
                <div class="training">
                    <h2>Les méthodes agiles</h2>
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="30.018" height="30.018"
                            viewBox="0 0 30.018 30.018">
                            <path id="Time_Icon" data-name="Time Icon"
                                d="M16.994,2A15.009,15.009,0,1,0,32.018,17.009,15,15,0,0,0,16.994,2Zm.015,27.016A12.007,12.007,0,1,1,29.016,17.009,12,12,0,0,1,17.009,29.016ZM17.76,9.5H15.508V18.51l7.88,4.728,1.126-1.846L17.76,17.384Z"
                                transform="translate(-2 -2)" fill="#b6277b" />
                        </svg>
                        <span> 5 JOURS</span>
                    </div>
                    <a href="#">Découvrir la formation <img src="assets/Arrow.svg" alt="" /></a>
                </div>
                <div class="training">
                    <h2>CMS WORDPRESS</h2>
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="30.018" height="30.018"
                            viewBox="0 0 30.018 30.018">
                            <path id="Time_Icon" data-name="Time Icon"
                                d="M16.994,2A15.009,15.009,0,1,0,32.018,17.009,15,15,0,0,0,16.994,2Zm.015,27.016A12.007,12.007,0,1,1,29.016,17.009,12,12,0,0,1,17.009,29.016ZM17.76,9.5H15.508V18.51l7.88,4.728,1.126-1.846L17.76,17.384Z"
                                transform="translate(-2 -2)" fill="#b6277b" />
                        </svg>
                        <span> 5 JOURS</span>
                    </div>
                    <a href="#">Découvrir la formation <img src="assets/Arrow.svg" alt="" /></a>
                </div>
                <div class="training">
                    <h2>INTÉGRATION HTML5/CSS3</h2>
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="30.018" height="30.018"
                            viewBox="0 0 30.018 30.018">
                            <path id="Time_Icon" data-name="Time Icon"
                                d="M16.994,2A15.009,15.009,0,1,0,32.018,17.009,15,15,0,0,0,16.994,2Zm.015,27.016A12.007,12.007,0,1,1,29.016,17.009,12,12,0,0,1,17.009,29.016ZM17.76,9.5H15.508V18.51l7.88,4.728,1.126-1.846L17.76,17.384Z"
                                transform="translate(-2 -2)" fill="#b6277b" />
                        </svg>
                        <span> 5 JOURS</span>
                    </div>
                    <a href="#">Découvrir la formation <img src="assets/Arrow.svg" alt="" /></a>
                </div>
                <div class="training">
                    <h2>CMS PRESTASHOP</h2>
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="30.018" height="30.018"
                            viewBox="0 0 30.018 30.018">
                            <path id="Time_Icon" data-name="Time Icon"
                                d="M16.994,2A15.009,15.009,0,1,0,32.018,17.009,15,15,0,0,0,16.994,2Zm.015,27.016A12.007,12.007,0,1,1,29.016,17.009,12,12,0,0,1,17.009,29.016ZM17.76,9.5H15.508V18.51l7.88,4.728,1.126-1.846L17.76,17.384Z"
                                transform="translate(-2 -2)" fill="#b6277b" />
                        </svg>
                        <span> 5 JOURS</span>
                    </div>
                    <a href="#">Découvrir la formation <img src="assets/Arrow.svg" alt="" /></a>
                </div>
                <div class="training">
                    <h2>LEADERSHIP</h2>
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="30.018" height="30.018"
                            viewBox="0 0 30.018 30.018">
                            <path id="Time_Icon" data-name="Time Icon"
                                d="M16.994,2A15.009,15.009,0,1,0,32.018,17.009,15,15,0,0,0,16.994,2Zm.015,27.016A12.007,12.007,0,1,1,29.016,17.009,12,12,0,0,1,17.009,29.016ZM17.76,9.5H15.508V18.51l7.88,4.728,1.126-1.846L17.76,17.384Z"
                                transform="translate(-2 -2)" fill="#b6277b" />
                        </svg>
                        <span> 5 JOURS</span>
                    </div>
                    <a href="#">Découvrir la formation <img src="assets/Arrow.svg" alt="" /></a>
                </div>
                <div class="training">
                    <h2>RELATION CLIENT</h2>
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="30.018" height="30.018"
                            viewBox="0 0 30.018 30.018">
                            <path id="Time_Icon" data-name="Time Icon"
                                d="M16.994,2A15.009,15.009,0,1,0,32.018,17.009,15,15,0,0,0,16.994,2Zm.015,27.016A12.007,12.007,0,1,1,29.016,17.009,12,12,0,0,1,17.009,29.016ZM17.76,9.5H15.508V18.51l7.88,4.728,1.126-1.846L17.76,17.384Z"
                                transform="translate(-2 -2)" fill="#b6277b" />
                        </svg>
                        <span> 5 JOURS</span>
                    </div>
                    <a href="#">Découvrir la formation <img src="assets/Arrow.svg" alt="" /></a>
                </div>
            </div>
            <button>TOUTES NOS FORMATIONS</button>
        </div>
        <div class="projects">
            <h2>Projects</h2>
            <div class="projects-container">
                <div class="project">
                    <h2>Digital Marketing</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus
                        nunc urna, porta quis dictum vitae, bibendum sit amet purus. Donec
                        scelerisque ipsum nec viverra condimentum. Aenean congue magna vitae
                        massa lobortis, quis varius magna luctus. Nulla sed porttitor eros.
                        Curabitur mollis finibus tortor, sed pulvinar nunc lobortis eu.
                    </p>
                    <a href="#"><span>En savoir plus</span> <img src="assets/Arrow.svg" alt="" /></a>
                </div>
                <div class="project">
                    <h2>DÉVELOPPEMENT LOGICIEL</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus
                        nunc urna, porta quis dictum vitae, bibendum sit amet purus. Donec
                        scelerisque ipsum nec viverra condimentum. Aenean congue magna vitae
                        massa lobortis, quis varius magna luctus. Nulla sed porttitor eros.
                        Curabitur mollis finibus tortor, sed pulvinar nunc lobortis eu.
                    </p>
                    <a href="#"><span>En savoir plus</span> <img src="assets/Arrow.svg" alt="" /></a>
                </div>
                <div class="project">
                    <h2>Conseil en stratégie informatique</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus
                        nunc urna, porta quis dictum vitae, bibendum sit amet purus. Donec
                        scelerisque ipsum nec viverra condimentum. Aenean congue magna vitae
                        massa lobortis, quis varius magna luctus. Nulla sed porttitor eros.
                        Curabitur mollis finibus tortor, sed pulvinar nunc lobortis eu.
                    </p>
                    <a href="#"><span>En savoir plus</span><img src="assets/Arrow.svg" alt="" /></a>
                </div>
            </div>
            <button>TOUS NOS PROJETS</button>
        </div>
    </section>
    <section class="partners__section">
        <h2>NOS PARTENAIRES</h2>
        <div class="partners-gallery">
            <img class="arrows" src="assets/Arrow Left.svg" alt="" />
            <div>
                <div class="p-logo-container">
                    <img src="assets/Ipssi logo.svg" alt="Ipssi logo" />
                </div>
                <div class="p-logo-container">
                    <img src="assets/Orange Business Logo.svg" alt="orange logo" />
                </div>
                <div class="p-logo-container">
                    <img src="assets/Graphik Channel Logo.svg" alt="craphik channel logo" />
                </div>
            </div>
            <img src="assets/Arrow Left.svg"  class="arrows" style="transform: rotate(180deg)" alt="" />
        </div>
    </section>
</div>
<section class="testimonails__section">
    <h2>Ils témoignent</h2>
    <div class="testimonails">
        <div class="testimonail">
            <div>
                <svg xmlns="http://www.w3.org/2000/svg" width="106.486" height="66.656" viewBox="0 0 106.486 66.656">
                    <path id="Quotes" d="M60.156,286.142a21.44,21.44,0,0,0,20.235,18.1c-2.485,9.23-8.52,12.9-15.856,15.028a.858.858,0,0,0-.592.947l1.183,7.336s.118.592,1.065.473c25.323-2.84,42.481-22.128,39.286-45.557-2.958-16.211-15.619-22.483-27.334-20.826a21.577,21.577,0,0,0-17.986,24.494Zm80.82,18.1c-2.367,9.23-8.638,12.9-15.856,15.028a.858.858,0,0,0-.592.947l1.065,7.336s.118.592,1.065.473c25.441-2.84,42.362-22.128,39.4-45.557-3.077-16.211-15.856-22.483-27.453-20.826a21.405,21.405,0,0,0-17.868,24.494,21.118,21.118,0,0,0,20.235,18.1Z" transform="translate(-59.911 -261.39)" fill="#fff"/>
                  </svg>
                <p class="testimonail-text">Nous avons commencé à travailler avec Presco Consulting car nous étions confrontés à de nombreux défis au sein de notre organisation. Nous n'étions pas organisés, nous ne livrions pas les projets aux clients à temps.</p>
            </div>
            <div>
                <img src="assets/Client Head1.svg" alt="">
                <h3>ALAIN WEBER</h3>
                <p>Orange Business</p>
            </div>
        </div>
        <div class="testimonail">
            <div>
                <svg xmlns="http://www.w3.org/2000/svg" width="106.486" height="66.656" viewBox="0 0 106.486 66.656">
                    <path id="Quotes" d="M60.156,286.142a21.44,21.44,0,0,0,20.235,18.1c-2.485,9.23-8.52,12.9-15.856,15.028a.858.858,0,0,0-.592.947l1.183,7.336s.118.592,1.065.473c25.323-2.84,42.481-22.128,39.286-45.557-2.958-16.211-15.619-22.483-27.334-20.826a21.577,21.577,0,0,0-17.986,24.494Zm80.82,18.1c-2.367,9.23-8.638,12.9-15.856,15.028a.858.858,0,0,0-.592.947l1.065,7.336s.118.592,1.065.473c25.441-2.84,42.362-22.128,39.4-45.557-3.077-16.211-15.856-22.483-27.453-20.826a21.405,21.405,0,0,0-17.868,24.494,21.118,21.118,0,0,0,20.235,18.1Z" transform="translate(-59.911 -261.39)" fill="#fff"/>
                  </svg>
                  
                <p class="testimonail-text">Mon stage a été une expérience extrêmement enrichissante.
                    Presco Consulting m'a donné des compétences techniques et de communication inestimables.</p>
            </div>
            <div>
                <img src="assets/Client Head2.svg" alt="">
                <h3>KADIJATOU DEMBA</h3>
                <p>Stagiaire</p>
            </div>
        </div>
        <div class="testimonail">
            <div>
                <svg xmlns="http://www.w3.org/2000/svg" width="106.486" height="66.656" viewBox="0 0 106.486 66.656">
                    <path id="Quotes" d="M60.156,286.142a21.44,21.44,0,0,0,20.235,18.1c-2.485,9.23-8.52,12.9-15.856,15.028a.858.858,0,0,0-.592.947l1.183,7.336s.118.592,1.065.473c25.323-2.84,42.481-22.128,39.286-45.557-2.958-16.211-15.619-22.483-27.334-20.826a21.577,21.577,0,0,0-17.986,24.494Zm80.82,18.1c-2.367,9.23-8.638,12.9-15.856,15.028a.858.858,0,0,0-.592.947l1.065,7.336s.118.592,1.065.473c25.441-2.84,42.362-22.128,39.4-45.557-3.077-16.211-15.856-22.483-27.453-20.826a21.405,21.405,0,0,0-17.868,24.494,21.118,21.118,0,0,0,20.235,18.1Z" transform="translate(-59.911 -261.39)" fill="#fff"/>
                  </svg>                  
                <p class="testimonail-text">Un merci spécial à toute l'équipe technique pour l'excellent service. 
                    Au plaisir de continuer à travailler avec l'équipe Presco Consulting.</p>
            </div>
            <div>
                <img src="assets/Client Head3.svg" alt="">
                <h3>NASRINE RACHID</h3>
                <p>Ipssi</p>
            </div>
        </div>
    </div>
    <div class="cercles">
        <span class="cercle">
        </span>
        <span class="cercle">
        </span>
        <span class="cercle">
        </span>
        <span class="cercle" style=" background: linear-gradient(#b1317f, #9d2e78, #752969, #5d2560, #54245d);">
        </span>
        <span class="cercle">
        </span>
        <span class="cercle">
        </span>
    </div>
</section>
<section class="contact__section">
    <div class="contact-illustration">
        <img src="assets/Contact Planning.svg" alt="" />
    </div>
    <div class="contact-description">
        <h2>Besoin de nos services ?</h2>
        <h2>Voulez-vous prendre un <br />rendez-vous ?</h2>
        <button>Contactez-nous</button>
    </div>
</section>