<div class="home__container">
<section class="hero__section">
    <div class="hero__section-description">
        <h1>Expérience et innovation <br>en une seule touche.</h1>
        <h1>Votre développement, <br>notre priorité.</h1>
        <p>Nous prenons le temps de vous écouter, puis d'agir. <br>
            Nous créerons un plan personnalisé correspondant à vos 
            besoins et sommes certains de vous offrir le succès que vous 
            désirez.</p>
        <button>En savoir plus</button>
    </div>
    <div class="hero__section-illustration">
        <img src="assets/Innovation & Development.svg" alt="">
    </div>
</section>
<section class="training__section">
    <h2>Besoin d'une formation ?</h2>
    <div><input type="text" name="" id="" placeholder="Je recherche une formation"><button>Rechercher</button></div>
</section>
<section class="trainings-projects">
    <h1>Nos services à la une</h1>
    <div class="trainings">
        <h2>Formations</h2>
        <div class="trainings-container">
            <div class="training">
                <h2>Les méthodes agiles</h2>
                <span><img src="assets/Time Icon.svg" alt="">5 JOURS</span>
                <a href="#">Découvrir la formation <img src="assets/Arrow.svg" alt=""></a>
            </div>
            <div class="training">
                <h2>Les méthodes agiles</h2>
                <span><img src="assets/Time Icon.svg" alt="">5 JOURS</span>
                <a href="#">Découvrir la formation <img src="assets/Arrow.svg" alt=""></a>
            </div>
            <div class="training">
                <h2>Les méthodes agiles</h2>
                <span><img src="assets/Time Icon.svg" alt="">5 JOURS</span>
                <a href="#">Découvrir la formation <img src="assets/Arrow.svg" alt=""></a>
            </div>
            <div class="training">
                <h2>Les méthodes agiles</h2>
                <span><img src="assets/Time Icon.svg" alt="">5 JOURS</span>
                <a href="#">Découvrir la formation <img src="assets/Arrow.svg" alt=""></a>
            </div>
            <div class="training">
                <h2>Les méthodes agiles</h2>
                <span><img src="assets/Time Icon.svg" alt="">5 JOURS</span>
                <a href="#">Découvrir la formation <img src="assets/Arrow.svg" alt=""></a>
            </div>
            <div class="training">
                <h2>Les méthodes agiles</h2>
                <span><img src="assets/Time Icon.svg" alt="">5 JOURS</span>
                <a href="#">Découvrir la formation <img src="assets/Arrow.svg" alt=""></a>
            </div>
        </div>
        <button>TOUTES NOS FORMATIONS</button>
    </div>
    <div class="projects">
        <h2>Projects</h2>
        <div class="projects-container">
            <div class="project">
                <h2>Digital Marketing</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nunc urna, porta quis dictum vitae, bibendum sit amet purus. Donec scelerisque ipsum nec viverra condimentum. Aenean congue magna vitae massa lobortis, quis varius magna luctus. Nulla sed porttitor eros. Curabitur mollis finibus tortor, sed pulvinar nunc lobortis eu.</p>
                <a href="#"><span>En savoir plus</span> <img src="assets/Arrow.svg" alt=""></a>
            </div>
            <div class="project">
                <h2>DÉVELOPPEMENT LOGICIEL</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nunc urna, porta quis dictum vitae, bibendum sit amet purus. Donec scelerisque ipsum nec viverra condimentum. Aenean congue magna vitae massa lobortis, quis varius magna luctus. Nulla sed porttitor eros. Curabitur mollis finibus tortor, sed pulvinar nunc lobortis eu.</p>
                <a href="#"><span>En savoir plus</span>
                     <img src="assets/Arrow.svg" alt=""></a>
            </div>
            <div class="project">
                <h2>Conseil en stratégie informatique</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nunc urna, porta quis dictum vitae, bibendum sit amet purus. Donec scelerisque ipsum nec viverra condimentum. Aenean congue magna vitae massa lobortis, quis varius magna luctus. Nulla sed porttitor eros. Curabitur mollis finibus tortor, sed pulvinar nunc lobortis eu.</p>
                <a href="#"><span>En savoir plus</span><img src="assets/Arrow.svg" alt=""></a>
            </div>
        </div>
        <button>TOUS NOS PROJETS</button>
    </div>
</section>
<section class="partners__section">
    <h2>NOS PARTENAIRES</h2>
    <div class="partners-gallery">
        <img src="assets/Arrow Left.svg" alt="">
        <div>
            <img src="assets/Ipssi logo.svg" alt="Ipssi logo">
            <img src="assets/Orange Business Logo.svg" alt="orange logo">
            <img src="assets/Graphik Channel Logo.svg" alt="craphik channel logo">
        </div>
        <img src="assets/Arrow Left.svg" style="transform: rotate(180deg);" alt="">
    </div>
</section>
</div>
<section class="testimonails__section">
    <h2>Ils témoignent</h2>
    <div>
        
    </div>
</section>
<section class="contact__section">
    <div class="contact-illustration">
        <img src="assets/Contact Planning.svg" alt="">
    </div>
    <div class="contact-description">
        <h2>Besoin de nos services ?</h2>
        <h2>Voulez-vous prendre un <br>rendez-vous ?</h2>
        <button>Contactez-nous</button>
    </div>
</section>
