<div class="qui-sommes-nous__container">
    <section class="first-section">
        <div class="description">
            <p class="nous-sommes">Nous sommes
            </p>
            <h1><span class="presco">Presco </span>Consulting</h1>
            <p>Une entreprise de services professionnels agissant dans le numérique. <br><br>

                Nous innovons en tant que stratèges, technologues, développeurs, designers et ingénieurs. Nous aidons
                nos clients à garder une longueur d'avance dans notre monde en rapide évolution en leur fournissant nos
                services.<br><br>

                Nous puisons sur l'esprit du changement afin de créer de la valeur et un succès partagé.</p>
        </div>
        <img src="assets/Illustration Qui Sommes-nous.svg" alt="" class="first-section_illustraion">
    </section>
    <section class="second-section">
        <h1 class="notre-histoire">NOTRE<br>
            HISTOIRE</h1>
        <div class="Ben-section">
            <div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque maximus porttitor blandit.
                    Mauris condimentum sit amet leo vitae fermentum. Mauris vel eros non mauris tempor pretium. Integer
                    sed eros maximus, luctus sem sagittis, lacinia orci. Vestibulum ultricies felis vel lectus
                    elementum, in blandit arcu fermentum. Vivamus nec bibendum metus.
                    <br><br>
                    Vivamus ipsum sem, blandit congue massa sed, pellentesque accumsan justo. Proin quam mi, pretium sed
                    libero id, volutpat sagittis elit. Aenean pellentesque leo ut tristique malesuada. Nullam posuere,
                    orci eget egestas congue, massa nibh egestas urna, nec convallis lorem nunc ac neque. Vestibulum
                    nunc neque, vulputate ac tellus eget, tincidunt rutrum nisl. Cras feugiat sollicitudin dignissim.
                    <br><br>
                    Pellentesque condimentum, mi eu blandit finibus, est felis faucibus neque, eu efficitur felis odio
                    in tortor. Vestibulum sed arcu et nisl cursus egestas ut sit amet nulla. Mauris quis felis vel ipsum
                    condimentum tristique. Maecenas id felis vel lectus eleifend blandit. Vestibulum gravida rutrum
                    libero, quis iaculis leo tempus eu. Cras eget ex ut lectus ultricies laoreet. Curabitur at euismod
                    elit. Cras iaculis urna ut ullamcorper tristique. Integer mauris quam, fringilla ac ligula ac,
                    tristique placerat mi.
                    <br><br>
                    Praesent nec efficitur ante. Aenean lacinia ex ac egestas faucibus. Ut finibus mauris ac venenatis
                    lobortis. Maecenas dui tellus, mattis sed imperdiet a, dapibus non magna. Donec ut tempor enim.
                </p>
                <h4>Moussa Ben Youcef <br>
                    CEO Presco Consulting</h4>
                <img src="assets/Moussa Ben Youcef - Signature.svg" loading="lazy" alt="">
            </div>
            <img class="ben-pic" src="assets/Ben Youcef Moussa Picture.png" alt="">
        </div>
    </section>
    <section class="third-section">
        <div class="mission">
            <img src="assets/Notre Mission Illustration.svg" alt="">
            <div>
                <h1>Notre<br> Mission</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque maximus porttitor blandit.
                    Mauris condimentum sit amet leo vitae fermentum. Mauris vel eros non mauris tempor pretium. Integer
                    sed eros maximus, luctus sem sagittis, lacinia orci. Vestibulum ultricies felis vel lectus
                    elementum, in blandit arcu fermentum. Vivamus nec bibendum metus.
                    <br><br>
                    Vivamus ipsum sem, blandit congue massa sed, pellentesque accumsan justo. Proin quam mi, pretium sed
                    libero id, volutpat sagittis elit. Aenean pellentesque leo ut tristique malesuada. Nullam posuere,
                    orci eget egestas congue, massa nibh egestas urna, nec convallis lorem nunc ac neque. Vestibulum
                    nunc neque, vulputate ac tellus eget, tincidunt rutrum nisl. Cras feugiat sollicitudin dignissim.
                </p>
            </div>
        </div>
        <div class="vision">
            <div>
                <h1>Notre <br>Vision</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque maximus porttitor blandit.
                    Mauris condimentum sit amet leo vitae fermentum. Mauris vel eros non mauris tempor pretium. Integer
                    sed eros maximus, luctus sem sagittis, lacinia orci. Vestibulum ultricies felis vel lectus
                    elementum, in blandit arcu fermentum. Vivamus nec bibendum metus.
                    <br><br>
                    Vivamus ipsum sem, blandit congue massa sed, pellentesque accumsan justo. Proin quam mi, pretium sed
                    libero id, volutpat sagittis elit. Aenean pellentesque leo ut tristique malesuada. Nullam posuere,
                    orci eget egestas congue, massa nibh egestas urna, nec convallis lorem nunc ac neque. Vestibulum
                    nunc neque, vulputate ac tellus eget, tincidunt rutrum nisl. Cras feugiat sollicitudin dignissim.
                </p>
            </div>
            <img src="assets/Notre Vision Illustration.svg" alt="">
        </div>
        <hr class="hr-1">
        <div class="valeurs">
            <h1>Nos Valeurs</h1>
            <div class="first-row">
                <div>
                    <h3>Agilité</h3>
                    <div>
                        <img src="assets/Agilité.svg" alt="">
                    </div>
                </div>
                <div>
                    <h3>TrANSPARENCE</h3>
                    <div>
                        <img src="assets/Transparence.svg" alt="">
                    </div>
                </div>
                <div>
                    <h3>INNOVATION</h3>
                    <div>
                        <img src="assets/Innovation.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="second-row">
                <div>
                    <div>
                        <img src="assets/Collaboration.svg" alt="">
                    </div>
                    <h3>Intelligence<br>
                        collective</h3>
                </div>
                <div>
                    <div>
                        <img src="assets/Engagement.svg" alt="">
                    </div>
                    <h3>ENGAGEMENT</h3>
                </div>
            </div>

        </div>
        <hr class="hr-1">
        <!-- <div class="temoignages">
            <h1>NOS éQUIPES TéMOIGNENT</h1>
        </div> -->
    </section>
    <section class="last-section">
        <div>
            <h1><span class="implantation-h1">NOTRE IMPLANTATION</span><br>GÉOGRAPHIQUE</h1>
            <p>163 Quai du docteur Dervaux, 92600<br>
                Asnières-sur-Seine, Ile de France<br>
                FRANCE</p>
        </div>
        <img src="assets/Localisation.svg" alt="">
    </section>
</div>