.qui-sommes-nous__container {
<<<<<<< HEAD
  padding-bottom: 60px;
  z-index: 0;
  /* margin-top: 87px; */
=======
  margin-bottom: 60px;
  z-index: 0;
  margin-top: 87px;
>>>>>>> 86506d5b23151c220bd7448a47f1b740b18e7be2
  font-family: "Montserrat", sans-serif;
}

.first-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 140px;
  background-image: url("../../../assets/qsn-Backgound.svg");
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 112px;
}

.nous-sommes {
  margin: 0;
  font-size: 31px;
  color: var(--primary-blue);
  margin-bottom: 9px;
}

h1 {
  text-transform: uppercase;
  font-size: 35px;
  margin: 0;
  font-weight: 700;
}

.description > h1 {
  color: var(--primary-purple);
  animation: go-up 1s cubic-bezier(0.05, 0.36, 0.7, 1.21);
}

.description > p {
  animation: go-up 1s cubic-bezier(0.05, 0.36, 0.7, 1.21);
}
.presco {
  color: var(--primary-blue);
}

.first-section > img {
  margin-top: 70px;
  width: 40%;
  animation: from-left 2s cubic-bezier(0.05, 0.36, 0.7, 1.21);
}

p {
  line-height: 25px;
  font-weight: 300;
  font-size: 18px;
}

.second-section {
  background-image: url("../../../assets/qsn-Backgound2.svg");
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 72px;
}

.notre-histoire {
  color: var(--primary-blue);
  margin: 0 140px;
  border-left: 3px solid var(--primary-blue);
  padding-left: 7px;
}
.Ben-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 140px;
}

.ben-pic {
  width: 50%;
  margin-left: 67px;
}

.third-section {
  padding: 0 140px;
}
.mission {
  display: flex;
  background-image: url("../../../assets/qsn-Backgound3.svg");
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 116px;
}

.mission > div {
  border-right: 3px solid var(--primary-purple);
  border-bottom: 3px solid var(--primary-purple);
  text-align: end;
  padding: 0px 10px 10px 0px;
}
.mission > div > h1 {
  color: var(--primary-purple);
}

.mission > img {
  width: 37%;
}

.vision {
  display: flex;
  background-image: url("../../../assets/qsn-Backgound4.svg");
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 40px;
}

.vision > div {
  border-left: 3px solid var(--primary-blue);
  border-bottom: 3px solid var(--primary-blue);
  text-align: start;
  padding: 0px 0px 10px 10px;
}

.vision > div > h1 {
  color: var(--primary-blue);
}

.vision > img {
  width: 37%;
}

.hr-1 {
  height: 3px;
  width: 88%;
  background-color: var(--primary-purple);
  border: none;
}

.valeurs {
  text-align: center;
  background-image: url("../../../assets/qsn-Backgound5.svg");
  background-size: cover;
  background-repeat: no-repeat;
}
.valeurs > h1 {
  color: var(--primary-purple);
  margin-top: 30px;
  margin-bottom: 30px;
}

.first-row,
.second-row {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.first-row > div,
.second-row > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 50px;
}

.second-row > div:nth-child(2) {
  margin-bottom: 36px;
}

.first-row > div > div > img,
.second-row > div > div > img {
  width: 100%;
}
.first-row > div > div {
  background: linear-gradient(#b1317f, #9d2e78, #752969, #5d2560, #54245d);
  border-radius: 100%;
  padding: 35px;
  margin-top: 13px;
}
.second-row > div > div {
  background: linear-gradient(#1b89ca, #2e3792);
  border-radius: 100%;
  padding: 35px;
  margin-top: 13px;
}
.first-row h3 {
  text-transform: uppercase;
  font-size: 30px;
  margin: 0;
  font-weight: 500;
  color: var(--primary-purple);
}
.second-row h3 {
  text-transform: uppercase;
  font-size: 30px;
  margin: 0;
  font-weight: 500;
  color: var(--primary-blue);
}

.temoignages {
  text-align: center;
  margin-top: 50px;
}
.temoignages > h1 {
  color: var(--primary-blue);
}

.last-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 140px;
}

.last-section > div {
  border-left: 3px solid var(--primary-blue);
  padding-left: 7px;
}

.last-section > img {
  width: 36%;
}

.last-section > div > h1 {
  color: var(--primary-blue);
}

.implantation-h1 {
  color: var(--primary-purple);
}

@media only screen and (max-width: 1220px) {
  .first-section {
    flex-direction: column;
    text-align: center;
  }
}

@media only screen and (max-width: 786px) {
  .first-section {
    padding: 0 40px;
  }
}
@media only screen and (max-width: 619px) {
  .first-section > img {
    margin-top: 25px;
    width: 61%;
  }
}
