<div>
    <div class="menu-close">
        <img (click)="ref.close({'res': ''})" src="assets/icon-menu.svg" alt="" class="list-icon" id="list-icon">
    </div>
    <a routerLink="accueil" routerLinkActive="menu-active" (click)="ref.close({'res': 'accueil'})" >ACCUEIL</a>
    <a routerLinkActive="menu-active" (click)="ref.close({'res': 'qsn'})" routerLink="qui-sommes-nous">QUI SOMMES-NOUS ?</a>
    <a (click)="ref.close({'res': 'nos-services'})" routerLinkActive="menu-active" routerLink="nos-services">NOS SERVICES</a>
    <a routerLinkActive="menu-active" (click)="ref.close({'res': 'nous-rejoindre'})"routerLink="nous-rejoindre">NOUS REJOINDRE</a>
    <a routerLinkActive="menu-active" (click)="ref.close({'res': 'faq'})"routerLink="faq">FAQ</a>
    <a routerLinkActive="menu-active-btn" routerLink="contactez-nous" (click)="ref.close({'res': 'contactez-nous'})"class="header-contact-btn">NOUS CONTACTER</a>
</div>
