.nos-services__container {
  padding-bottom: 60px;
  /* margin-top: 87px; */
  z-index: 0;
  font-family: "Montserrat", sans-serif;
  background-position: -111px -233px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url("../../../../assets/Backgound.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.first-section_illustraion {
  width: 344px;
  margin-top: 70px;
  animation: from-left 2s cubic-bezier(0.05, 0.36, 0.7, 1.21);
}

.first-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 580px;
  margin: 0px 140px 100px 140px;
}

.description {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  animation: go-up 1s cubic-bezier(0.05, 0.36, 0.7, 1.21);
}

.description > h1 {
  color: var(--primary-purple);
  animation: go-up 1s cubic-bezier(0.05, 0.36, 0.7, 1.21);
}

.description > p {
  font-size: 17;
  font-weight: 300;
  text-align: center;
}

.description > svg {
  cursor: pointer;
}

.description svg:hover > path {
  fill: var(--primary-purple);
  transform: fill 0.3s ease;
}

h1,
.last-section > h2 {
  text-transform: uppercase;
  font-size: 35px;
  margin: 0;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}

h1 > span,
.last-section > h2 {
  color: var(--primary-purple);
}
h1 > span {
  color: var(--primary-blue);
}

#send-btn {
  border: 1px solid var(--primary-purple);
  border-radius: 10px;
  padding: 10px 20px;
  color: var(--primary-purple);
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  background-color: transparent;
  cursor: pointer;
  margin-bottom: 25px;
  transition: all 0.3s ease;
  animation: go-up 2s cubic-bezier(0.05, 0.36, 0.7, 1.21);
}

#send-btn:hover {
  color: #fff;
  background-color: var(--primary-purple);
  box-shadow: 0px 15px 20px #d67eb1;
  transform: translateY(-4px);
}
#send-btn-blue {
  border: 1px solid var(--primary-blue);
  border-radius: 10px;
  padding: 10px 20px;
  color: var(--primary-blue);
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  background-color: transparent;
  cursor: pointer;
  margin-bottom: 25px;
  transition: all 0.3s ease;
  animation: go-up 2s cubic-bezier(0.05, 0.36, 0.7, 1.21);
}

#send-btn-blue:hover {
  color: #fff;
  background-color: var(--primary-blue);
  box-shadow: 0px 15px 20px #7eabd6;
  transform: translateY(-4px);
}

.last-section {
  margin: 0 140px;
  padding: 30px;
  border: 1px solid var(--primary-purple);
  border-radius: 30px;
}

.img-blue {
  width: 317px;
  height: 317px;
  border-radius: 100%;
  padding: 51px;
  display: flex;
  align-items: center;
  background-color: #fff;
}
.img-purple {
  width: 317px;
  height: 317px;
  border-radius: 100%;
  padding: 51px;
  display: flex;
  align-items: center;
  background-color: #fff;
}


.img-purple {
  margin-left: -76px;
  border: 1px solid var(--primary-purple);
}
.img-blue {
  margin-right: -76px;
  border: 1px solid var(--primary-blue);
  z-index: 1;
}
.text {
  padding: 30px;
  border-radius: 30px;
  height: 200px;
}

@media only screen and (max-width: 1314px) {
  .text {
    height: 242px;
  }
}
@media only screen and (max-width: 1180px) {
  .first-section {
    height: 480px;
    align-items: center;
    padding: 87px 40px 0px 40px;
    margin: 0;
  }
  .first-section div {
    align-items: center;
  }
  .first-section > img {
    margin: 19px 0px;
    width: 35%;
  }
}
@media only screen and (max-width: 980px) {
  #send-btn-blue {
    margin-bottom: 0px;
  }

  #send-btn-purple {
    margin-bottom: 0px;
  }

  h2 {
    font-size: 22px !important;
  }
  h1 {
    font-size: 31px !important;
    text-align: center;
  }
  .first-section > img {
    margin: 19px 0px;
    width: 45%;
  }
}

@media only screen and (max-width: 700px) {
    .first-section {
        flex-direction: column;
        height: 620px;
    }
  .text {
    padding: 0px;
  }
}
@media only screen and (max-width: 619px) {
    .first-section {
        height: 720px;
    }
  .last-section {
    margin: 30px 20px;
    padding: 30px 30px 71px 30px;
  }
  .first-section > img {
    margin: 19px 0px;
    width: 75%;
  }
}

@media only screen and (max-width: 450px) {
  .first-section > img {
    margin: 19px 0px;
    width: 107%;
  }
}
.fourth-section {
  background: linear-gradient(#b1317f, #9d2e78, #752969, #5d2560, #54245d);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fourth-section > h1 {
  padding-top: 41px;
  text-align: center;
  color: #fff;
  margin-bottom: 0px;
}

.fourth-section > div {
  display: grid;
  width: 90%;
  grid-template-columns: 30% 30% 30%;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 36px;
  margin: 20px auto;
}
/* .fourth-section > div > div  */

.fourth-section > div > div > div {
  margin: 0 auto;
}
.fourth-section  p {
  color: white;
  border: 1px solid #fff;
  border-radius: 11px;
  padding: 15px 25px;
  text-align: center;
  font-weight: 400;
  transition: all 0.3s ease;
  cursor: pointer;
}
.fourth-section  p:hover, .active p {
  color: var(--primary-purple);
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 11px;
  padding: 15px 25px;
  text-align: center;
  font-weight: 400;
  box-shadow: 2px 5px 14px white;
}

.trainings-projects > h1 {
    color: var(--primary-purple);
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 35px;
  }
  
  .trainings > h2 {
    font-size: 35px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    color: var(--primary-blue);
  }
 

  .trainings {
    /* margin: 40px 140px 40px 140px; */
    text-align: center;

  }
  
  .trainings-container {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    width: 83%;
    justify-content: space-between;
    margin: 0 auto;
  }
 
  
  .trainings-projects > button {
    margin-bottom: 20px;
  }
  
  .trainings > button,
.contact-description > button {
  border-radius: 25px;
  padding: 10px 20px;
  color: var(--primary-blue);
  border: 1px solid var(--primary-blue);
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  background-color: transparent;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: all 0.3s ease;
  animation: go-up 2s cubic-bezier(0.05, 0.36, 0.7, 1.21);
}

@media only screen and (max-width: 728px) {
    .fourth-section > div{
        grid-template-columns: unset;
        justify-content: unset;
    }
  }
@media only screen and (max-width: 623px) {
    
        .fourth-section{
            margin-top:90px
        }
    
  }

