<div class="contact__container">
    <section class="first-section">
        <div>
            <h1><span>Besoin de</span> nous contacter ?</h1>
            <p>Merci à vous de bien vouloir remplir le formulaire ci-dessous</p>
            <svg xmlns="http://www.w3.org/2000/svg" width="23.174" height="14.31" viewBox="0 0 23.174 14.31">
                <path id="ic_expand_more_24px" d="M26.451,8.59l-8.864,8.845L8.723,8.59,6,11.313,17.587,22.9,29.174,11.313Z" transform="translate(-6 -8.59)" fill="#245fab"/>
              </svg>
        </div>
        <img src="assets/Illustration NOUS CONTACTER.svg" alt="">
    </section>
    <section class="second-section">
        <hr>
        <div>
            <h1>écrivez-nous</h1>
            <div class="contact-form">
                <div>
                    <div>
                        <input type="text" placeholder="Nom*">
                        <input type="text" placeholder="E-mail*">
                        <input type="text" placeholder="Entreprise">
                    </div>
                    <div>
                        <input type="text" placeholder="Prénom *">
                        <input type="text" placeholder="Téléphone  *">
                        <input type="text" placeholder="Téléphone  *">
                    </div>
                </div>
                <div>
                    <textarea name="" id="" cols="30" placeholder="Décrivez-nous votre projet ou votre demande..." rows="10"></textarea>
                </div>
            </div>
            <p>Presco Consulting traite vos données personnelles afin de répondre à votre demande de  contact. Vous disposez de droits sur vos données.
                Pour plus d’informations, nous vous invitons à consulter notre <span>Politique de protection des données.</span></p>
            <button>Envoyer</button>
        </div>
        <hr>
    </section>
    <section class="third-section">
        <div>
            <h1>Restez en contact.</h1>
            <div>
                <p>Suivez-nous sur les réseaux sociaux</p>
                <div class="social-media">
                    <a href=""><img src="assets/Linkedin.svg" alt=""></a>
                    <a href=""><img src="assets/Path 353.svg" alt=""></a>
                    <a href=""><img src="assets/Twitter.svg" alt=""></a>
                    <a href=""><img src="assets/Path 369.svg" alt=""></a>
                </div>
            </div>
        </div>
    </section>
</div>
