<div class="container">
    <section class="first-section">
        <img src="assets/Développement.svg" alt="" class="first-section_illustraion">
        <div class="description">
            <h1><span>UX/UI </span>& Développement</h1>
            <p>Une direction créative qui accompagne les usages créés par et avec vos utilisateurs.
<br><br>
                Des méthodologies de conception robustes basées sur des technologies open-source prouvées et modernes.</p>
            
            <svg (click)="scrollToElement(second)" 
            
            xmlns="http://www.w3.org/2000/svg" width="23.174" height="14.31" viewBox="0 0 23.174 14.31">
                <path id="ic_expand_more_24px" d="M26.451,8.59l-8.864,8.845L8.723,8.59,6,11.313,17.587,22.9,29.174,11.313Z" transform="translate(-6 -8.59)" fill="#245fab"/>
              </svg>
        </div>
    </section>
    <img id="rectangle-1" src="assets/Rectangle 132.svg" alt="">
  <mat-tab-group 
    mat-stretch-tabs
    class="example-stretched-tabs mat-elevation-z4"
  >
    <mat-tab label="Développement web & mobile"> 
        <div class="tab-2-section">
            <div>
                <h2>LE Produit backlog</h2>
                <p>L'établissement de user stories, de véritables exigences fonctionnelles et de leur hiérarchisation aboutit à une feuille de route détaillée du projet qui pilotera le développement.</p>

            </div>
            <div>
                <img src="assets/Icon 04.svg" alt="">
            </div>
        </div>
        <div class="tab-2-section">
            <div>
                <img src="assets/Icon 05.svg" alt="">
            </div>
            <div>
                <h2>Itérations en développement</h2>
                <p>Un ensemble de user stories est construit sur 15 jours à la manière d'un sprint. Pour assurer la meilleure qualité, le sprint est accepté en interne avant diffusion. Vos commentaires sont utilisés pour apporter des modifications fonctionnelles.</p>

            </div>
            
        </div>
        <div class="tab-2-section">
            <div>
                <h2>Tests fonctionnels et unitaires</h2>
                <p>La résilience et la viabilité à long terme d'un développement sont essentielles. Pour éviter une régression à long terme, chaque fonctionnalité et ses interactions sont évaluées automatiquement à l'aide d'un code de test unique.</p>

            </div>
            <div>
                <img src="assets/mohammad-rahmani-LrxSl4ZxoRs-unsplash.svg" alt="">
            </div>
        </div>
        <div class="tab-2-section">
            <div>
                <img src="assets/Icon 06.svg" alt="">
            </div>
            <div>
                <h2>Mise en œuvre des infrastructures</h2>
                <p>L'intégration efficace de votre nouveau développement dans votre système d'information actuel est essentielle. Nous nous occupons de la configuration, du déploiement, de la surveillance et des sauvegardes des services concernés. Ce faisant, nous garantissons des performances optimales.</p>

            </div>
           
        </div>
        <div class="tab-2-contact-section">
            <div>
                    <h2>Avez-vous besoin d'une équipe de développement bien organisée et productive ?</h2>
                    <p>Vous êtes au bon endroit ! Des experts numériques de tous nos domaines de spécialisation composent notre équipe.</p>
                    <a id="send-btn" routerLink="../../contactez-nous" >
                        Contactez-nous</a>
            </div>
           
        </div>
    </mat-tab>
    <mat-tab #second label="Analyse UX & design UI">
        <div class="tab-section">
            <div>
                <h2>La stratégie centrée sur l'utilisateur</h2>
                <p>Un meilleur contrôle de la qualité du produit final et des dépenses de développement est possible avec une approche centrée sur l'utilisateur. Il permet de créer des « personas » représentatifs et de pouvoir s'inspirer de leurs usages grâce à une analyse quantitative et qualitative de la cible.
<br><br>
                    Nous déterminons le produit "Wow" et le produit minimalement acceptable. Les compromis détermineront la portée de la conception et votre réalité commerciale se situera quelque part au milieu.</p>

            </div>
            <div>
                <img src="assets/Icon.svg" alt="">
            </div>
        </div>
        <div class="tab-section">
            
                <img src="assets/Icon 02.svg" alt="">
            
            <div>
                <h2>Conception conviviale</h2>
                <p>La méthode de conception dite "centrée utilisateur" intègre les besoins des futurs utilisateurs à chaque étape du projet.
<br><br>
                    Elle est centrée sur des personnalités et comprend des ateliers réunissant usagers et décideurs. Nous développons un premier prototype interactif qui ressemble à un storyboard réaliste des itinéraires de navigation. Avec la cible et le contexte d'usage au centre des objectifs de conception, cette itération espère valider les postulats.</p>

            </div>
            
        </div>
        <div class="tab-section">
            <div>
                <h2>Ergonomie et design de l'interface graphique</h2>
                <p>La direction esthétique et les conceptions d'écran donneront au projet un distinctif.
<br><br>
                    Nous créerons une identité visuelle personelle qui pourra être utilisée sur de nombreux supports. L'ergonomie des affichages et les parcours de navigation seront développés en fonction des conditions réelles d'utilisation de vos utilisateurs, facilitant la prise en main et la mémorisation. Avant le démarrage de la production, cette phase aboutira à la création d'un prototype interactif photoréaliste qui pourra être montré à vos utilisateurs.</p>

            </div>
            <div>
                <img src="assets/pngwing.com.svg" alt="">
            </div>
        </div>
        <div class="tab-section">
            <div>
                <img src="assets/Icon 03.svg" alt="">
            </div>
            <div>
                <h2>Test utilisateur, restitution, itération et protocole</h2>
                <p>Enfin, un prototype de protocole de test est construit en suggérant certains parcours utilisateurs pour chaque persona. Un panel d'utilisateurs représentatifs est chargé de tester le prototype après vérification.
<br><br>
                    Selon les paramètres d'utilisation, ces sessions de test particulières peuvent être réalisées à l'étranger ou sur site. Les résultats de ces tests pourront ensuite être examinés afin d'identifier les axes de développement que nous proposons ainsi que les lieux d'acceptation et d'inconfort. Planifier les dernières itérations d'optimisation et valider fermement l'ergonomie du service sont rendus possibles par cet effort.</p>

            </div>
           
        </div>
        <div class="tab-contact-section">
            <div>
                    <h2>Se renseigner sur vos futurs utilisateurs pour leur proposer un service adapté ?</h2>
                    <p>Rencontrons nous pour évoquer notre démarche UX et et mettre en place un service adapté à vos utilisateurs autant visuellement qu'en terme d'ergonomie et d'usage !</p>
                    <a id="send-btn-blue" routerLink="../../contactez-nous" >
                        Contactez-nous</a>
            </div>
           
        </div>
         </mat-tab>
  </mat-tab-group>
  <div class="last-section">
    <h3>LES ÉTAPES DE NOTRE <span>COLLABORATION</span></h3>
    <div>
        <div>
            <div>
                <h5 class="h5-blue">1. Parlez-nous de votre projet ou planifiez un diagnostic !</h5>
                <p>
                    Informez-nous brièvement en envoyant tout document contenant les détails du projet (expression de besoins, cahier des charges, wireframes, maquettes). <br>
Demandez un rendez-vous de diagnostic pour discuter avec nos professionnels de votre projet. Nous vous apporterons nos meilleurs conseils pour vous permettre d'avancer dans la réalisation de la conception de votre application.
                </p>
            </div>
            <div>
                <h5 class="h5-blue" >
                    3. Suivez l'évolution des travaux
                </h5>
                <p>
                    De l'étape de conception à l'étape de production graphique, nous avons une personne à temps plein qui peut vous parler à tout moment et coordonner la mise en œuvre de votre projet.
                </p>
            </div>
            <div>
                <h5 class="h5-blue">
                    5. BUDGET DE VOTRE application, OBTENEZ-LE !
                </h5>
                <p>
                    Les spécifications fonctionnelles et les modèles de votre application fournissent une spécification détaillée qui vous permet de vous engager avec plusieurs fournisseurs de services et d'obtenir des prix réalistes. Nous fournissons notre propre évaluation pour que vous puissiez la comparer à d'autres offres.
                </p>
            </div>
        </div>
        <img src="assets/Component 15 – 1.svg" alt="">
        <div>
            <div>
                <h5 class="h5-purple">2. OBTENEZ VOTRE PRIX AU MEILLEUR COÛT</h5>
                <p>Selon la taille du projet, le coût de création d'un design d'application peut aller d'environ 2000 € à 5000 € HT. Nous prévoyons de travailler ensemble dès que nous aurons reçu votre approbation.</p>
            </div>
            <div>
                <h5 class="h5-purple">4. Recevez votre design</h5>
                <p>
                    Les wireframes et/ou modèles semi-dynamiques de votre application vous sont transmis dans un format vous permettant de passer à l'étape suivante de sa réalisation.
                </p>
            </div>
        </div>
    </div>
    
  </div>

  <a id="send-btn-blue" style="margin: 20px auto; width: 108px; display: block; " routerLink="../../contactez-nous" >
    AVIZER-NOUS</a>
  
  
</div>
