<div class="container">
    <section class="first-section">
        <img src="assets/Développement.svg" alt="" class="first-section_illustraion">
        <div class="description">
            <h1><span>UX/UI </span>& Développement</h1>
            <p>Une direction créative qui accompagne les usages créés par et avec vos utilisateurs.
<br><br>
                Des méthodologies de conception robustes basées sur des technologies open-source prouvées et modernes.</p>
            
            <svg (click)="scrollToElement(second)" 
            
            xmlns="http://www.w3.org/2000/svg" width="23.174" height="14.31" viewBox="0 0 23.174 14.31">
                <path id="ic_expand_more_24px" d="M26.451,8.59l-8.864,8.845L8.723,8.59,6,11.313,17.587,22.9,29.174,11.313Z" transform="translate(-6 -8.59)" fill="#245fab"/>
              </svg>
        </div>
    </section>
    <img id="rectangle-1" src="assets/Rectangle 132.svg" alt="">
  <mat-tab-group 
    mat-stretch-tabs
    class="example-stretched-tabs mat-elevation-z4"
  >
    <mat-tab #second label="Analyse UX & design UI"> </mat-tab>

    <mat-tab label="Développement web & mobile"> </mat-tab>
  </mat-tab-group>
  <div class="last-section">
    <h3>LES ÉTAPES DE NOTRE <span>COLLABORATION</span></h3>
    <div>
        <div>
            <div>
                <h5 class="h5-blue">1. Parlez-nous de votre projet ou planifiez un diagnostic !</h5>
                <p>
                    Informez-nous brièvement en envoyant tout document contenant les détails du projet (expression de besoins, cahier des charges, wireframes, maquettes). <br>
Demandez un rendez-vous de diagnostic pour discuter avec nos professionnels de votre projet. Nous vous apporterons nos meilleurs conseils pour vous permettre d'avancer dans la réalisation de la conception de votre application.
                </p>
            </div>
            <div>
                <h5 class="h5-blue" >
                    3. Suivez l'évolution des travaux
                </h5>
                <p>
                    De l'étape de conception à l'étape de production graphique, nous avons une personne à temps plein qui peut vous parler à tout moment et coordonner la mise en œuvre de votre projet.
                </p>
            </div>
            <div>
                <h5 class="h5-blue">
                    5. BUDGET DE VOTRE application, OBTENEZ-LE !
                </h5>
                <p>
                    Les spécifications fonctionnelles et les modèles de votre application fournissent une spécification détaillée qui vous permet de vous engager avec plusieurs fournisseurs de services et d'obtenir des prix réalistes. Nous fournissons notre propre évaluation pour que vous puissiez la comparer à d'autres offres.
                </p>
            </div>
        </div>
        <img src="assets/Component 15 – 1.svg" alt="">
        <div>
            <div>
                <h5 class="h5-purple">2. OBTENEZ VOTRE PRIX AU MEILLEUR COÛT</h5>
                <p>Selon la taille du projet, le coût de création d'un design d'application peut aller d'environ 2000 € à 5000 € HT. Nous prévoyons de travailler ensemble dès que nous aurons reçu votre approbation.</p>
            </div>
            <div>
                <h5 class="h5-purple">4. Recevez votre design</h5>
                <p>
                    Les wireframes et/ou modèles semi-dynamiques de votre application vous sont transmis dans un format vous permettant de passer à l'étape suivante de sa réalisation.
                </p>
            </div>
        </div>
    </div>
    
  </div>
  
</div>
