<div class="footer__container">
    <div>
        <div>
            <h2 id="restez-inf">Restez informés</h2>
            <p>Abonnez-vous à notre newsletter pour en savoir plus sur ce que nous faisons.</p>
            <input type="text" placeholder="Votre adresse email**">
            <p>Presco Consulting peut utiliser ces informations pour vous contacter au sujet de produits et services
                pertinents. Vous pouvez vous désabonner de cette liste à tout moment.</p>
            <button>Je m'abonne</button>
        </div>
        <div>
            <div>
                <h2>Nos solutions</h2>
                <p>Formation Continue</p>
                <p>Formation à distance</p>
                <p>Digital Learning</p>
                <p>Services sur mesure</p>
                <p>Coaching</p>
                <p>Reconversion</p>
                <p> Formations certifiantes</p>
            </div>
        </div>
        <div>
            <div>
                <h2>Presco Consulting</h2>
                <p>Qui sommes-nous ?</p>
                <p>Nos actualités</p>
                <p>Rejoignez-nous</p>
            </div>
            <div class="social-media">
                <h2>Suivez-nous</h2>
                <a target="_blank"  href="https://www.linkedin.com/company/prescoconsulting-fr/about/"> <img src="assets/Linkedin.svg" alt=""></a>
                <a target="_blank" href=""> <img src="assets/Path 353.svg" alt=""></a>
                <a target="_blank" href=""> <img src="assets/Twitter.svg" alt=""></a>
                <a target="_blank" href=""> <img src="assets/Path 369.svg" alt=""></a>
            </div>
        </div>
        <div>
            <div>
                <h2>Contact</h2>
                <div class="contact-email-number">
                    <img class="contact-icon" src="assets/ic_mail_outline_24px.svg" alt="">
                    <a href="mailto:contact@prescoconsulting.com">contact@prescoconsulting.com</a>
                </div>
                <div class="contact-email-number">
                    <img class="contact-icon" src="assets/ic_call_24px.svg" alt="">
                    <a href="tel:+33 6 20 47 82 75">+33 6 20 47 82 75</a>
                </div>
            </div>
            <div>
                <h2>Location</h2>
                <div class="location-details">
                    <img src="assets/ic_place_24px.svg" alt="" style="margin-right:13px">
                    <p style="padding: 0px; margin:0px">163 Quai du docteur Dervaux,<br>92600<br>
                        Asnières-sur-Seine, Ile de France<br>
                        FRANCE
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="copy-right">
        <img id="footer-logo" src="assets/Presco Consulting Logo (Rectangle).svg" alt="footer logo">
        <hr>
        Tous droits réservés © 2022 - Presco Consulting - Mentions Légales - Gestion des cookies - Politique de
        confidentialité<br>
    </div>
</div>