.footer__container {
  position: relative;
  display: flex;
  flex-direction: column;
  background: linear-gradient(#1b89ca, #2e3792);
  color: #fff;
  padding: 32px 36px 0px 36px;
  border-radius: 70px 70px 0px 0px;
  font-family: "Montserrat", sans-serif;
  position: relative;
}
.footer__container > div:nth-child(2) {
  display: flex;
  justify-content: space-between;
}
.footer__container > div:nth-child(2) > div:nth-child(1) {
  width: 32%;
  display: flex;
  flex-direction: column;
  padding-right: 29px;
}
.footer__container > div:nth-child(2) > div:nth-child(2) {
  width: 22%;
}
.footer__container > div:nth-child(2) > div:nth-child(3) {
  width: 23%;
}

#footer-logo {
  width: 11%;
}

a {
  color: #fff;
  font-size: 13px;
}

input {
  border: none;
  border-radius: 25px;
  height: 45px;
  font-size: 11px;
  margin-bottom: 5px;
  padding: 1px 0px 1px 12px;
  margin-right: 11px;
}

input:focus {
  outline: none;
}
.footer__container > div > div > button {
  border: 1px solid #fff;
  border-radius: 25px;
  padding: 10px 20px;
  color: #fff;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  background-color: transparent;
  background-repeat: no-repeat;
  cursor: pointer;
  margin-bottom: 5px;
}

p {
  font-size: 12px;
  margin: 8px 0px;
}

.contact-email-number {
  display: flex;
  margin-bottom: 10px;
}
.copy-right {
  background-image: url("../../../assets/Waves.svg");
  font-size: 13px;
  text-align: center;
  background-size: cover;
  background-position-y: 50px;
  background-repeat: no-repeat;
  margin: 9px -36px 0px -36px;
  padding: 0px;
  height: 80px;
}
.copy-right > hr {
  border: none;
  height: 1px;
  width: 36%;
  margin-bottom: 13px;
  background: #fff;
}

.contact-icon {
  margin-right: 13px;
}

.social-media > a > img {
  margin-right: 26px;
  cursor: pointer;
}
h2 {
  font-size: 22px;
}

#restez-inf {
  margin-bottom: 0;
}

.location-details {
  display: flex;
  align-items: flex-start;
}

@media only screen and (max-width: 1180px) {
  .footer__container{
    border-radius: 0;
  }
  #footer-logo {
    width: 26%;
  }
  .footer__container > div:nth-child(2) > div {
    width: initial !important;
  }
  .footer__container > div:nth-child(2) {
    display: grid;
    grid-template-columns: 50% 39%;
    justify-content: center;
    align-items: end;
    justify-items: start;
  }
  #informations , .links, .copy-right , .solutions{
    display: none;
  }
}
@media only screen and (max-width: 612px) {
  .footer__container > div:nth-child(2) {
    grid-template-columns: 100%;
  }
}
