<div class="formation-container">
    <div class="cover">
        <img class="cover" src="assets/Cover.png" alt="">
        <h1>{{cours.nom}}</h1>
    </div>
    <div class="subscription-container">
        <div class="sub-header">
          <!-- <p>INTER</p> -->
        </div>
        <div class="inter">
          <!-- <div class="inter-div-1">Session partagée avec d'autres organisations</div> -->
          <!-- <div>
            <h1 class="p-s">Prochaine Sessions</h1>
            <div class="session">
              <div>
                <span class="date">Du 23 au 24/06/2022 </span>
                <span calss="type">En distanciel</span>
              </div>
              <p class="prix">1 999,99 € HT</p>
            </div>
            <div class="session">
              <div>
                <span class="date">Du 23 au 24/06/2022 </span>
                <span calss="type">En distanciel</span>
              </div>
              <p class="prix">1 999,99 € HT</p>
            </div>
      
            <div class="duree">
              <span>Durée </span>
              <p class="prix">30 h / 6 jours</p>
            </div>
          </div> -->
          <div class="buttons">
            <button id="blue-fill" (click)="demandezDevis()">Demandez un devis</button>
            <button id="send-btn-blue" (click)="contactezNous()">
              Contactez-nous</button>
          </div>
          <!-- <a class="link" href="">Telecharger le programme</a> -->
        </div>
      </div>
      
     <div class="sub-title">
        <h2>Domain : {{cours.domain}}</h2>
        <div *ngIf="cours.certifiant" class="certifiant">
          Préparation à la certification
      </div>
    </div>
    
   <!-- <div class="description">
        Vous souhaitez concevoir des services et produits orientés expérience utilisateurs et innovants ?
<br><br>
Découvrez le potentiel du Design Thinking, expérimentez l’état d’esprit, le processus et les méthodes pour mieux collaborer et innover dans tous vos projets
    </div>
    <div class="details">
        <h1>
            La formation en détails
        </h1>
        <div class="objectifs">
            <h2>
                Description et Objectifs
            </h2>
            <p>- Définir des problématiques clés à résoudre<br>
                - Mettre l’utilisateur au cœur de sa stratégie<br>
                - Utiliser de nouvelles méthodes créatives<br>
                - Savoir réaliser des prototypes rapides, tester et valider des hypothèses<br>
                - Découvrir des besoins non identifiés et explorer des opportunités/solutions<br>
                - Trouver des relais de croissance par l’innovation<br>
                - Mettre en place le design thinking dans son entreprise
                <br><br>
                Lors de cette formation, vous explorerez la méthodologie Design Thinking sous forme de jeux pédagogiques et d’ateliers enrichis de nombreux feed-backs et vous apprendrez différentes méthodes que vous pourrez réutiliser dans d’innombrables projets ou situations.</p>
        </div>
        <div class="public-cible">
            <div>
                <img src="assets/noun-people-1393005.svg" alt="">
                <h2>Public cible</h2>
            </div>
            <p>
                - Consultants <br>
- Chefs de produit<br>
- Chefs de projet<br>
- Designers<br>
- Développeurs<br>
- Entrepreneurs<br>
- UX/UI Designers<br>
- Tous les managers qui souhaitent piloter et porter des projets d’innovation<br>
            </p>
        </div>
        <div class="prerequis">
            <h2>Prérequis</h2>
            <p>Pas de prérequis pour cette formation.</p>
        </div>
        <div class="profil-du-formateur">
            <h2>Profil du formateur</h2>
            <p>Toutes nos formations sont animées par des consultants-formateurs expérimentés et reconnus par leurs pairs.</p>
        </div>
    </div>

    <div class="programme-section">
        <div class="header">
            <img src="assets/noun-reading-book-3383369.svg" alt="">
            <h2>Programme détaillé</h2>
        </div>
        <div>
            <h4>SÉANCE 1 - INTRODUCTION AU DESIGN THINKING ET À LA FORMATION</h4>
            <h4>SÉANCE 2 - PHASE D’IMMERSION - MENER L’ÉTUDE DES UTILISATEURS</h4>
            <h4>SÉANCE 3 - PHASE D’IMMERSION - INTERPRÉTER LES DONNÉES COLLECTÉES</h4>
            <h4>SÉANCE 4 - DÉFINIR UNE PROBLÉMATIQUE ET S’INSPIRER</h4>
            <h4>SÉANCE 5 - PHASE IDÉATION - GÉNÉRER DES IDÉES</h4>
            <h4>SÉANCE 6 - PROTOTYPAGE</h4>
            <h4>SÉANCE 7 - BUSINESS MODEL CANVA ET VIABILITÉ ÉCONOMIQUE</h4>
            <h4>SÉANCE 8 : BILAN ET DEBRIEF INDIVIDUEL</h4>
        </div>
    </div> -->

    <div class="contact">
        <h2>Besoin d'aide pour trouver votre formation ?</h2>
        <button id="send-btn" routerLink="../../../../contactez-nous">Contactez-nous</button>
    </div>
    <button id="swal2" style="visibility:hidden"[swal]="['Demande Envoyée 📚🚀','Demande de Devis a été envoyé avec succès !', 'success']">
      Do it!
    </button >
    <button id="swal3" style="visibility:hidden"[swal]="['Message Envoyé 📚🚀', 'Votre Message a été envoyé avec succès !', 'success']">
      Do it!
    </button >


</div>
