.faq__container {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 60px;
  z-index: 0;
<<<<<<< HEAD
  padding-top: 87px;
=======
  margin-top: 87px;
>>>>>>> 86506d5b23151c220bd7448a47f1b740b18e7be2
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  background-image: url("../../../assets/Waimakariri 02.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.faq__main > h2 {
  font-size: 35px;
  margin: 0;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  color: var(--primary-blue);
  text-align: center;
  margin-bottom: 20px;
  animation: go-up 1s cubic-bezier(0.05, 0.36, 0.7, 1.21);
}

.faq__main {
  width: 40%;
  height: 550px;
  padding: 10px 0px;
}

.faq__main > div {
  overflow: auto;
  padding-left: 38px;
  height: 500px;
}
.questions {
  padding: 10px 30px;
  height: 95%;
}

.faq__illustration > img {
  width: 79%;
  animation: from-right 2s cubic-bezier(0.05, 0.36, 0.7, 1.21);
}

input {
  display: none;
}

label {
  display: block;
  cursor: pointer;
  padding: 10px 0px;
  font-weight: 400;
  font-size: 17px;
  max-width: 459px;
}

label:hover {
  color: var(--primary-purple);
}

input + label + .content {
  display: none;
  transition: opacity 1s ease-out;
  opacity: 0;
}

input:checked + label + .content {
  display: block;
  opacity: 1;
}

.content {
  color: hsl(240, 6%, 50%);
  line-height: 17px;
  font-size: 12px;
}

svg {
  position: absolute;
  left: 12px;
  top: 19px;
  width: 16px;
  transition: opacity 1s ease-out;
  opacity: 1;
}

.minus {
  position: absolute;
  left: 13px;
  top: 29px;
  width: 14px;
  display: none;
  transition: opacity 1s ease-out;
  opacity: 0;
}
input:checked + label > svg {
  display: none;
  opacity: 0;
}
input:checked + label > .minus {
  display: block;
  opacity: 1;
}

.q {
  position: relative;
  margin-bottom: 23px;
  margin-right: 17px;
  background-color: var(--white);
  padding: 10px 10px 10px 39px;
  box-shadow: 1px 6px 12px 2px rgb(86 73 73 / 20%);
  border-radius: 15px;
  animation: go-up 1s cubic-bezier(0.05, 0.36, 0.7, 1.21);
}

.faq__illustration {
  margin-top: 14px;
}

@media only screen and (max-width: 1380px) {
  .faq__main {
    width: 50%;
  }
}
@media only screen and (max-width: 1180px) {
  .faq__illustration > img {
    width: 95%;
  }
  .faq__main > div {
    overflow: auto;
    padding-left: 11px;
  }
  .faq__main {
    width: 60%;
  }
}
@media only screen and (max-width: 892px) {
  .faq__container {
    flex-direction: column-reverse;
    align-items: center;
  }
  .faq__main {
    width: 80%;
  }
}
@media only screen and (max-width: 762px) {
  .faq__main {
    width: 100%;
  }
}
<<<<<<< HEAD

p{
  font-weight: 300;
}
=======
>>>>>>> 86506d5b23151c220bd7448a47f1b740b18e7be2
