.nos-services__container {
  margin-bottom: 60px;
  margin-top: 87px;
  z-index: 0;
  font-family: "Montserrat", sans-serif;
}

.first-section {
  background-image: url("../../../assets/Backgound.svg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 75vh;
  margin: 0px 140px 100px 140px;
}

.first-section div {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  animation: go-up 1s cubic-bezier(0.05, 0.36, 0.7, 1.21);
}

.first-section > div > h1 {
  color: var(--primary-blue);
  animation: go-up 1s cubic-bezier(0.05, 0.36, 0.7, 1.21);
}

.first-section > img {
  margin-top: 70px;
  width: 40%;
  animation: from-left 2s cubic-bezier(0.05, 0.36, 0.7, 1.21);
}
.first-section > div > p {
  font-size: 17;
  font-weight: 300;
}

.first-section > div > svg {
  cursor: pointer;
}

.first-section > div > svg:hover > path {
  fill: var(--primary-purple);
  transform: fill 0.3s ease;
}

h1,
.last-section > h2 {
  text-transform: uppercase;
  font-size: 35px;
  margin: 0;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}

h1 > span,
.last-section > h2 {
  color: var(--primary-purple);
}

#send-btn {
  border: 1px solid var(--primary-purple);
  border-radius: 10px;
  padding: 10px 20px;
  color: var(--primary-purple);
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  background-color: transparent;
  cursor: pointer;
  margin-bottom: 25px;
  transition: all 0.3s ease;
  animation: go-up 2s cubic-bezier(0.05, 0.36, 0.7, 1.21);
}

#send-btn:hover {
  color: #fff;
  background-color: var(--primary-purple);
  box-shadow: 0px 15px 20px #d67eb1;
  transform: translateY(-4px);
}
#send-btn-blue {
  border: 1px solid var(--primary-blue);
  border-radius: 25px;
  padding: 10px 20px;
  color: var(--primary-blue);
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  background-color: transparent;
  cursor: pointer;
  margin-bottom: 25px;
  transition: all 0.3s ease;
  animation: go-up 2s cubic-bezier(0.05, 0.36, 0.7, 1.21);
}

#send-btn-blue:hover {
  color: #fff;
  background-color: var(--primary-blue);
  box-shadow: 0px 15px 20px #7eabd6;
  transform: translateY(-4px);
}

.last-section {
  margin: 0 140px;
  padding: 30px;
  border: 1px solid var(--primary-purple);
  border-radius: 30px;
}

.blue,
.purple {
  display: flex;
  margin: 130px 140px;
  height: 300px;
  align-items: center;
}
.blue > div:first-child {
  width: 310px;
  height: 310px;
  width: 317px;
  height: 317px;
  border-radius: 100%;
  padding: 51px;
  display: flex;
  align-items: center;
  background-color: #fff;
}
.purple > div:last-child {
  width: 310px;
  height: 310px;
  width: 317px;
  height: 317px;
  border-radius: 100%;

  padding: 51px;
  display: flex;
  align-items: center;
  background-color: #fff;
}

#formations-svg {
  width: 344px;
}
#dev-svg {
  width: 437px;
}

#trans-svg {
  width: 421px;
}
#ia-svg {
  width: 423px;
}
#formations-txt {
  padding: 34px 87px 42px 49px;
}
#ia-txt {
  padding: 34px 49px 42px 87px;
}
.blue > div > img,
.purple > div > img {
  height: 209px;
}

.purple > div:last-child {
  margin-left: -76px;
  border: 1px solid var(--primary-purple);
}
.blue > div:first-child {
  margin-right: -76px;
  border: 1px solid var(--primary-blue);
  z-index: 1;
}
.purple > div > h2 {
  color: var(--primary-purple);
}
.blue > div > h2 {
  color: var(--primary-blue);
}
.text {
  padding: 30px;
  border-radius: 30px;
  height: 200px;
}
.blue > .text {
  border: 1px solid var(--primary-blue);
}
.purple > .text {
  border: 1px solid var(--primary-purple);
}

@media only screen and (max-width: 1180px) {
  .first-section {
    flex-direction: column;
    align-items: center;
    padding: 0 40px;
    margin: 0;
  }
  .first-section div {
    align-items: center;
  }
  .first-section > img {
    margin: 19px 0px;
    width: 35%;
  }
}
@media only screen and (max-width: 980px) {
  h2 {
    font-size: 22px !important;
  }
  h1 {
    font-size: 31px !important;
    text-align: center;
  }
  .first-section > img {
    margin: 19px 0px;
    width: 45%;
  }
}
@media only screen and (max-width: 619px) {
  .last-section {
    margin: 0 20px;
  }
  .first-section > img {
    margin: 19px 0px;
    width: 75%;
  }
}

@media only screen and (max-width: 450px) {
  .first-section > img {
    margin:19px 0px;
    width: 107%;
  }
}
