<div class="nos-services__container">
    <section class="first-section">
        <div class="description">
            <h1><span>Nos offres </span>de services</h1>
            <p>Des services sur mesure pour vous accompagner sur vos problématiques clés.<br></p>
            <!-- (click)="scrollToElement(second)"  -->
            <svg 
            
            xmlns="http://www.w3.org/2000/svg" width="23.174" height="14.31" viewBox="0 0 23.174 14.31">
                <path id="ic_expand_more_24px" d="M26.451,8.59l-8.864,8.845L8.723,8.59,6,11.313,17.587,22.9,29.174,11.313Z" transform="translate(-6 -8.59)" fill="#245fab"/>
              </svg>
        </div>
        <img src="assets/Nos Services principaux.svg" alt="" class="first-section_illustraion">
    </section>
     <section class="purple" #second>
        <div class="text" id="formations-txt">
            <h2>Formations</h2>
            <p>Nous mettons un point d'honneur à partager notre savoir. Nos formations vous
                permettent de rester à jour sur les technologies et méthodologies d'aujourd'hui
                et de demain.</p>
                <button id="send-btn">Découvrir</button>
        </div>
        <div class="img">
            <img id="formations-svg" src="assets/Nos Formations.svg" alt="">
        </div>
    </section>
 <!--   <section class="blue">
        <div class="img">
            <img id="trans-svg" src="assets/Transformation digitale.svg" alt="">
        </div>
        <div class="text" id="ia-txt">
            <h2>Transformation digitale</h2>
            <p>Nous tirons profit de notre expertise en digital pour accompagner les entreprises en proposant une gamme de services dans leur transformation digitale afin qu'elles puissent atteindre leurs impératifs de performance et de rentabilité.</p>
                <button id="send-btn-blue">Découvrir</button>
        </div>
       
    </section>
    <section class="purple">
        <div class="text">
            <h2>Développement</h2>
            <p>Nous disposons d'une épine qualifiée en développement  web et mobile, et en conception algorithmique qui saura mener de la valeur ajoutée au long des étapes de votre projet.</p>
                <button id="send-btn">Découvrir</button>
        </div>
        <div class="img">
            <img id="dev-svg" src="assets/Développement.svg" alt="">
        </div>
    </section>
    <section class="blue">
        <div class="img">
            <img id="ia-svg" src="assets/Data Science & AI.svg" alt="">
        </div>
        <div class="text" id='ia-txt'>
            <h2>Data Science / IA</h2>
            <p>Nous vous apportons notre expertise de la manipulation des données, du 
                machine learning et de l'intelligence artificielle pour vous aider à adresser vos 
                sujets stratégiques et mettre en place des outils innovants d'aide à la décision.</p>
                <button id="send-btn-blue">Découvrir</button>
        </div>
    </section> -->
    <section class="last-section">
        <h2>Un projet, un besoin ou une question ?</h2>
        <p>Vous avez un projet et vous ne savez pas comment le mettre en oeuvre ? Vous avez besoin de l'une de nos expertises pour <br>renforcer vos équipes ? Ou une simple question ? Contactez-nous !</p>
        <button id="send-btn">Contactez-nous</button>
    </section>
</div>