
<div class="loader" *ngIf="wait">
    <img src="assets/Spinner.svg" alt="">
</div> 
<div class="qui-sommes-nous__container"  *ngIf="!wait">
    <section class="first-section">
        <div class="description">
            <p class="nous-sommes">Nous sommes
            </p>
            <h1><span class="presco">Presco </span>Consulting</h1>
            <p>Une entreprise de services professionnels agissant dans le numérique. <br><br>

                Nous innovons en tant que stratèges, technologues, développeurs, designers et ingénieurs. Nous aidons
                nos clients à garder une longueur d'avance dans notre monde en rapide évolution en leur fournissant nos
                services.<br><br>

                Nous puisons sur l'esprit du changement afin de créer de la valeur et un succès partagé.</p>
        </div>
        <img src="assets/Illustration Qui Sommes-nous.svg" alt="" class="first-section_illustraion">
    </section>
    <section class="second-section">
        <h1 class="notre-histoire">NOTRE<br>
            HISTOIRE</h1>
        <div class="Ben-section">
            <div>
                <p>Presco Consulting est un acteur de la transformation digitale et des services informatiques. Basés à Paris, nous concevons des solutions digitales innovantes qui simplifient le quotidien des collaborateurs et permettent de se concentrer sur les aboutissements de l’entreprise.  
                    <br><br>
                    Fondée en 2019 à Paris par Mr. Ben Youcef Moussa, et animée par une forte ambition, l’entreprise a rapidement élargi ses activités pour accompagner ses clients dans toutes leurs opérations d’externalisation afin de leur permettre de mieux se concentrer sur leur développement et leurs enjeux.
                    <br><br>
                    Pour offrir la solution la mieux adaptée aux objectifs requis, nous allions les méthodes agiles, la maîtrise des meilleurs outils à une connaissance approfondie des enjeux opérationnels et à une écoute sans faille.
                    <br><br>
                    Au sein de l’équipe Presco Consulting, les membres fonctionnels proviennent d’horizons opérationnels variés, ce qui leur confère une parfaite capacité d’adaptation aux défis sectoriels.  Nous partageons tous une approche profondément collaborative, à l’écoute de la vision et des objectifs de nos clients.
                    <br><br>
                    L’entreprise fait plus que travailler, nous innovons en tant que stratèges, technologues, développeurs, concepteurs et ingénieurs.  
                    Presco Consulting embrasse le pouvoir du changement pour créer de la valeur et partager le succès, mais aussi adapter l’entreprise à l’appréhension agile afin de miser sur l’intelligence collective.
<br>                    
                </p>
                <h4>Moussa Ben Youcef <br>
                    CEO Presco Consulting</h4>
                <img src="assets/Moussa Ben Youcef - Signature.svg" loading="lazy" alt="">
            </div>
            <img class="ben-pic" src="assets/Ben Youcef Moussa Picture.png" alt="">
        </div>
    </section>
    <section class="third-section">
        <div class="mission">
            <img src="assets/Notre Mission Illustration.svg" alt="">
            <div>
                <h1>Notre<br> Mission</h1>
                <p>Notre quotidien s'articule autour de l'accompagnement des entreprises à s'adapter aux transformations et aux changements que connaît le monde technologique. Ceci est accompli grâce à des solutions numériques entièrement personnalisées qui leur permettent d'atteindre facilement leurs objectifs commerciaux et de développer leur organisation.<br>
                    Nous nous centrons sur l'autonomisation des entreprises afin qu'elles atteignent leurs objectifs et deviennent plus performantes grâce à des solutions et des services numériques principalement axés sur les résultats.
                </p>
            </div>
        </div>
        <div class="vision">
            <div>
                <h1>Notre <br>Vision</h1>
                <p>Notre mission principale est d'aider les entreprises à atteindre leurs objectifs tout en s'adaptant à l'avancement technologique de leur environnement. De ce fait, nous souhaitons accompagner les entreprises du monde entier dans leur transformation numérique en apportant nos connaissances et notre assistance.<br>
                    Nous nous sommes spécialisés dans les services et solutions informatiques les plus créatifs grâce à nos années d'expertise. Notre vision est de devenir l'une des entreprises informatiques les plus inventives et avant-gardistes de l'industrie.
                </p>
            </div>
            <img src="assets/Notre Vision Illustration.svg" alt="">
        </div>
        <hr class="hr-1">
        <div class="valeurs">
            <h1>Nos Valeurs</h1>
            <div class="first-row">
                <div>
                    <h3>Agilité</h3>
                    <div>
                        <img src="assets/Agilité.svg" alt="">
                    </div>
                </div>
                <div>
                    <h3>TrANSPARENCE</h3>
                    <div>
                        <img src="assets/Transparence.svg" alt="">
                    </div>
                </div>
                <div>
                    <h3>INNOVATION</h3>
                    <div>
                        <img src="assets/Innovation.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="second-row">
                <div>
                    <div>
                        <img src="assets/Collaboration.svg" alt="">
                    </div>
                    <h3>Intelligence<br>
                        collective</h3>
                </div>
                <div>
                    <div>
                        <img src="assets/Engagement.svg" alt="">
                    </div>
                    <h3>ENGAGEMENT</h3>
                </div>
            </div>

        </div>
        <hr class="hr-1">
        <!-- <div class="temoignages">
            <h1>NOS éQUIPES TéMOIGNENT</h1>
        </div> -->
    </section>
    <section class="last-section">
        <div>
            <h1><span class="implantation-h1">NOTRE IMPLANTATION</span><br>GÉOGRAPHIQUE</h1>
            <p>163 Quai du docteur Dervaux, 92600<br>
                Asnières-sur-Seine, Ile de France<br>
                FRANCE</p>
        </div>
        <img src="assets/Localisation.svg" alt="">
    </section>
</div>
