<div class="faq__container">
    <section class="faq__illustration">
        <img src="assets/Illustration FAQ.svg" alt="">
    </section>
    <section class="faq__main">
        <h2>FAQ</h2>
        <div>
        <div class="q">
        <input type="checkbox" id="q1" />
        <label for="q1" >Comment trouver ma formation ?<svg xmlns="http://www.w3.org/2000/svg" width="23.933" height="23.933" viewBox="0 0 23.933 23.933">
          <path id="Plus_Sign" data-name="Plus Sign" d="M28.933,18.676H18.676V28.933H15.257V18.676H5V15.257H15.257V5h3.419V15.257H28.933Z" transform="translate(-5 -5)" fill="#245fab"/>
        </svg>
        <svg class="minus" xmlns="http://www.w3.org/2000/svg" width="23.928" height="3.418" viewBox="0 0 23.928 3.418">
          <path id="Minus_Sign" data-name="Minus Sign" d="M28.928,14.418H5V11H28.928Z" transform="translate(-5 -11)" fill="#b6277b"/>
        </svg></label>
        <div class="content">
          <p>
            Presco Consulting connaît et comprend les besoins technologiques de votre organisation. Avec l'évolution rapide et constante du paysage informatique, votre organisation doit mettre en œuvre la meilleure technologie pour votre entreprise aujourd'hui et la meilleure technologie pour votre entreprise demain. 
Nous recherchons la meilleure technologie et vous apportons les bonnes solutions informatiques, au bon moment et à la bonne valeur.
          </p>
        </div>
      </div>
      <div class="q">
        <input type="checkbox" id="q2" />
        <label for="q2">Où aura lieu ma formation ?<svg xmlns="http://www.w3.org/2000/svg" width="23.933" height="23.933" viewBox="0 0 23.933 23.933">
          <path id="Plus_Sign" data-name="Plus Sign" d="M28.933,18.676H18.676V28.933H15.257V18.676H5V15.257H15.257V5h3.419V15.257H28.933Z" transform="translate(-5 -5)" fill="#245fab"/>
        </svg><svg class="minus" xmlns="http://www.w3.org/2000/svg" width="23.928" height="3.418" viewBox="0 0 23.928 3.418">
          <path id="Minus_Sign" data-name="Minus Sign" d="M28.928,14.418H5V11H28.928Z" transform="translate(-5 -11)" fill="#b6277b"/>
        </svg>
        </label>
        <div class="content">
          <p>
            Presco Consulting connaît et comprend les besoins technologiques de votre organisation. Avec l'évolution rapide et constante du paysage informatique, votre organisation doit mettre en œuvre la meilleure technologie pour votre entreprise aujourd'hui et la meilleure technologie pour votre entreprise demain. 
            Nous recherchons la meilleure technologie et vous apportons les bonnes solutions informatiques, au bon moment et à la bonne valeur.
          </p>
        </div>
      </div>
      <div class="q">
        <input type="checkbox" id="q3" />
        <label for="q3">Comment Presco Consulting peut aider mon organisation ?<svg xmlns="http://www.w3.org/2000/svg" width="23.933" height="23.933" viewBox="0 0 23.933 23.933">
          <path id="Plus_Sign" data-name="Plus Sign" d="M28.933,18.676H18.676V28.933H15.257V18.676H5V15.257H15.257V5h3.419V15.257H28.933Z" transform="translate(-5 -5)" fill="#245fab"/>
        </svg><svg class="minus" xmlns="http://www.w3.org/2000/svg" width="23.928" height="3.418" viewBox="0 0 23.928 3.418">
          <path id="Minus_Sign" data-name="Minus Sign" d="M28.928,14.418H5V11H28.928Z" transform="translate(-5 -11)" fill="#b6277b"/>
        </svg>
        </label>
        <div class="content">
          <p>
            Presco Consulting connaît et comprend les besoins technologiques de votre organisation. Avec l'évolution rapide et constante du paysage informatique, votre organisation doit mettre en œuvre la meilleure technologie pour votre entreprise aujourd'hui et la meilleure technologie pour votre entreprise demain. 
Nous recherchons la meilleure technologie et vous apportons les bonnes solutions informatiques, au bon moment et à la bonne valeur.
          </p>
        </div>
      </div>
      <div class="q">
        <input type="checkbox" id="q4" />
        <label for="q4">Que fait Presco Consulting ?<svg xmlns="http://www.w3.org/2000/svg" width="23.933" height="23.933" viewBox="0 0 23.933 23.933">
          <path id="Plus_Sign" data-name="Plus Sign" d="M28.933,18.676H18.676V28.933H15.257V18.676H5V15.257H15.257V5h3.419V15.257H28.933Z" transform="translate(-5 -5)" fill="#245fab"/>
        </svg><svg class="minus" xmlns="http://www.w3.org/2000/svg" width="23.928" height="3.418" viewBox="0 0 23.928 3.418">
          <path id="Minus_Sign" data-name="Minus Sign" d="M28.928,14.418H5V11H28.928Z" transform="translate(-5 -11)" fill="#b6277b"/>
        </svg>
        </label>
        <div class="content">
          <p>
            Presco Consulting connaît et comprend les besoins technologiques de votre organisation. Avec l'évolution rapide et constante du paysage informatique, votre organisation doit mettre en œuvre la meilleure technologie pour votre entreprise aujourd'hui et la meilleure technologie pour votre entreprise demain. 
Nous recherchons la meilleure technologie et vous apportons les bonnes solutions informatiques, au bon moment et à la bonne valeur.
          </p>
        </div>
      </div>
      <div class="q">
        <input type="checkbox" id="q5" />
        <label for="q5">Pourquoi choisir notre société ?<svg xmlns="http://www.w3.org/2000/svg" width="23.933" height="23.933" viewBox="0 0 23.933 23.933">
          <path id="Plus_Sign" data-name="Plus Sign" d="M28.933,18.676H18.676V28.933H15.257V18.676H5V15.257H15.257V5h3.419V15.257H28.933Z" transform="translate(-5 -5)" fill="#245fab"/>
        </svg><svg class="minus" xmlns="http://www.w3.org/2000/svg" width="23.928" height="3.418" viewBox="0 0 23.928 3.418">
          <path id="Minus_Sign" data-name="Minus Sign" d="M28.928,14.418H5V11H28.928Z" transform="translate(-5 -11)" fill="#b6277b"/>
        </svg>
        </label>
        <div class="content">
          <p>
            Presco Consulting connaît et comprend les besoins technologiques de votre organisation. Avec l'évolution rapide et constante du paysage informatique, votre organisation doit mettre en œuvre la meilleure technologie pour votre entreprise aujourd'hui et la meilleure technologie pour votre entreprise demain. 
Nous recherchons la meilleure technologie et vous apportons les bonnes solutions informatiques, au bon moment et à la bonne valeur.
          </p>
        </div>
      </div>
    </div>
    </section>
</div>
