<div class="blog-slider">
  <div class="blog-slider__wrp swiper-wrapper">
  
    <div class="blog-slider__item swiper-slide">
      <div class="blog-slider__img">
        <img src="assets/Yassine.jpg" alt="">
      </div>
      <div class="blog-slider__content">
        <span class="blog-slider__code">Developpeur Full Stack chez Presco Consulting</span>
        <div class="blog-slider__title">Yacine Youssouf</div>
        <div class="blog-slider__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae voluptate repellendus magni illo ea animi?</div>
        <a href="#" class="blog-slider__button">En Savoir Plus</a>
      </div>
    </div>
    
    <div class="blog-slider__item swiper-slide">
      <div class="blog-slider__img">
        <img src="assets/Aicha.jpeg" alt="">
      </div>
      <div class="blog-slider__content">
        <span class="blog-slider__code">Stagiaire UI/UX chez Presco Consulting</span>
        <div class="blog-slider__title">Aïcha ABDOU</div>
        <div class="blog-slider__text">Aujourd’hui fût ma dernière journée de stage chez Presco Consulting. De ce fait, je voulais remercier toute l’équipe pour leur soutien...
          Merci encore pour ce stage incroyable tout en souhaitant le meilleur à toute l'équipe.</div>
        <a target="_blank" href="https://www.linkedin.com/feed/update/urn:li:activity:6910636547612512257/" class="blog-slider__button">En Savoir Plus</a>
      </div>
    </div>

    <div class="blog-slider__item swiper-slide">
      <div class="blog-slider__img">
        <img src="assets/khalil.jpg" alt="">
      </div>
      <div class="blog-slider__content">
        <span class="blog-slider__code">CEO Chez Protech-IT</span>
        <div class="blog-slider__title">Khalil Lakhdhar</div>
        <div class="blog-slider__text">Aujourd’hui fût ma dernière journée de stage chez Presco Consulting. De ce fait, je voulais remercier toute l’équipe pour leur soutien...
          Merci encore pour ce stage incroyable tout en souhaitant le meilleur à toute l'équipe.</div>
        <a target="_blank" href="https://www.linkedin.com/feed/update/urn:li:activity:6910636547612512257/" class="blog-slider__button">En Savoir Plus</a>
      </div>
    </div>

    <div class="blog-slider__item swiper-slide">
      <div class="blog-slider__img">
        
        <img src="assets/Nawfel.jpeg" alt="">
      </div>
      <div class="blog-slider__content">
        <span class="blog-slider__code">Developpeur Full Stack Chez Presco Consulting</span>
        <div class="blog-slider__title">Nawfel Sekrafi</div>
        <div class="blog-slider__text">Thanks Ben youcef MOUSSA - Certified Scrum Master, Agile Coach & CEO at Presco Consulting for teaching us a lot about team work & Agile methodologies by examples of daily meetings, using the most popular and modern tools 💻🌐. </div>
        <a href="https://www.linkedin.com/feed/update/urn:li:activity:6913500810614063104/" target="_blank" class="blog-slider__button">En Savoir Plus</a>
      </div>
    </div>
    
  </div>
  <div class="blog-slider__pagination"></div>
</div>